<template>
  <div id="allindexes">
    <b-container class="allindexes-container" fluid>
      <div class="content">
        <b-row class="mx-0">
          <div class="component-wrapper">
            <div class="wrapper">
              <h1 class="dash-head-text">БИРЖЕВОЙ ИНДЕКС</h1>
              <b-col col md="12">
                <b-row class="justify-content-between">
                  <b-col class="pr-xl-5" col lg="6">
                    <div class="allindexes-left-card">
                      <b-row>
                        <b-col class="d-flex mb-4 index-b1-col" col md="12">
                          <div class="indexB1text">
                            <h3>ИНДЕКС В1 </h3>
                            <h2>20%</h2>
                          </div>
                          <div class="indexB1image">
                            <b-img slot="img" class=" img-fluid" img-alt="stock1.png"
                                   src="../assets/images/stock1.png"></b-img>
                          </div>
                        </b-col>
                        <b-col class="d-flex flex-xl-row flex-md-column justify-content-start align-items-center" col md="12">
                          <div class="indexB1BottomText">
                            <div
                                class="percentText d-flex flex-lg-row flex-md-column justify-content-between align-items-center">
                              <p>Проценты</p>
                              <span>200 USD</span>
                            </div>
                            <div class="percentText d-flex justify-content-between align-items-center">
                              <p>Вклады</p>
                              <span>1000 USD</span>
                            </div>
                          </div>
                          <div class="indexB1Btn">
                            <b-button class="btn-gradient indexB1-btn" type="submit">Подробнее</b-button>
                          </div>
                        </b-col>
                      </b-row>
                    </div>
                  </b-col>
                  <b-col col lg="6" class="allindexes-right-card">
                    <b-list-group class="indexList">
                      <b-list-group-item>Срок действия от 1 дня.</b-list-group-item>
                      <b-list-group-item>Минимальная сумма от 1.000 $</b-list-group-item>
                      <b-list-group-item>Доходность от 15% до 20% в месяц</b-list-group-item>
                      <b-list-group-item>Реферальная программа 5%</b-list-group-item>
                      <b-list-group-item>Участие в партнерской программе</b-list-group-item>
                      <b-list-group-item>Увеличение депозита кратно 1000 $</b-list-group-item>
                      <b-list-group-item>Вывод от 100 $</b-list-group-item>
                      <b-list-group-item>Возврат депозита 30 дней</b-list-group-item>
                      <b-list-group-item>Комиссии на ввод и вывод нет</b-list-group-item>
                      <b-list-group-item>Возврат депозита в любой валюте</b-list-group-item>
                    </b-list-group>
                  </b-col>
                </b-row>
              </b-col>
              <h1 class="dash-head-text">ТОВАРНЫЙ ИНДЕКС</h1>
              <b-col class="mb-md-5" col md="12">
                <b-row>
                  <b-col class="d-flex flex-column" col md="12" xl="4">
                    <div class="product-index-card">
                      <div class="tablet-mobile-view">
                        <h3>АВТОМОБИЛЬНЫЙ</h3>
                        <b-img slot="img" class=" img-fluid" img-alt="stock2.png"
                               src="../assets/images/stock2.png"></b-img>
                      </div>
                      <div class="tablet-mobile-view">
                        <div class="stock-card-text d-flex">
                          <p>Первоночальный<br>взнос</p>
                          <span>1500 USD</span>
                        </div>
                        <div class="stock-card-text d-flex">
                          <p>Первоночальный<br>взнос в %</p>
                          <span>35%</span>
                        </div>
                        <div class="stock-card-text d-flex">
                          <p>Срок программы<br>до 19.11.2021</p>
                          <span>110 дней</span>
                        </div>
                        <div class="stock-card-button">
                          <b-button class="btn-gradient stock-card-btn" type="submit">Подробнее</b-button>
                        </div>
                      </div>
                    </div>
                  </b-col>
                  <b-col class="d-flex flex-column" md="12" xl="4">
                    <div class="product-index-card">
                      <div class="tablet-mobile-view">
                        <h3>АВТОМОБИЛЬНЫЙ</h3>
                        <b-img slot="img" class=" img-fluid" img-alt="stock3.png"
                               src="../assets/images/stock3.png"></b-img>
                      </div>
                      <div class="tablet-mobile-view">
                        <div class="stock-card-text d-flex">
                          <p>Первоночальный<br>взнос</p>
                          <span>1500 USD</span>
                        </div>
                        <div class="stock-card-text d-flex">
                          <p>Первоночальный<br>взнос в %</p>
                          <span>35%</span>
                        </div>
                        <div class="stock-card-text d-flex">
                          <p>Срок программы<br>до 19.11.2021</p>
                          <span>110 дней</span>
                        </div>
                        <div class="stock-card-button">
                          <b-button class="btn-gradient stock-card-btn" type="submit">Подробнее</b-button>
                        </div>
                      </div>
                    </div>
                  </b-col>
                  <b-col class="d-flex flex-column" md="12" xl="4">
                    <div class="product-index-card">
                      <div class="tablet-mobile-view">
                        <h3>АВТОМОБИЛЬНЫЙ</h3>
                        <b-img slot="img" class="img-fluid" img-alt="stock4.png"
                               src="../assets/images/stock4.png"></b-img>
                      </div>
                      <div class="tablet-mobile-view">
                        <div class="stock-card-text d-flex">
                          <p>Первоночальный<br>взнос</p>
                          <span>1500 USD</span>
                        </div>
                        <div class="stock-card-text d-flex">
                          <p>Первоночальный<br>взнос в %</p>
                          <span>35%</span>
                        </div>
                        <div class="stock-card-text d-flex">
                          <p>Срок программы<br>до 19.11.2021</p>
                          <span>110 дней</span>
                        </div>
                        <div class="stock-card-button">
                          <b-button class="btn-gradient stock-card-btn" type="submit">Подробнее</b-button>
                        </div>
                      </div>
                    </div>
                  </b-col>
                </b-row>
              </b-col>
            </div>
          </div>
        </b-row>
      </div>
    </b-container>
  </div>
</template>

<script>
export default {
  name: "AllIndexes"
}
</script>

<style scoped>

</style>