<template>
  <div id="dashboard">
    <b-container class="bv-example-row" fluid>
      <b-row>
        <b-col col xl="3" md="3">
          <SideBar/>
        </b-col>
        <b-col col xl="8" md="9" cols="12">
          <div class="dash-header">
            <b-row>
              <b-col col xl="6" lg="6" md="6" cols="12">
                <b-row class="dash-header-accounts">
                  <b-col class="left-acc" col>
                    <span>личный счет</span>
                    <p>5 025 025, 00 ₽</p>
                  </b-col>
                  <b-col class="right-acc" col>
                    <span>бизнес счет</span>
                    <p>143 025, 25 $</p>
                  </b-col>
                </b-row>
              </b-col>
              <b-col col xl="6" lg="6" md="6"></b-col>
            </b-row>

          </div>
          <router-view class="dash-view-content"></router-view>
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>

<script>
import SideBar from '../components/SideBar'

export default {
  components: {
    SideBar
  },
  data() {
    return {}
  }
}
</script>

<style scoped>
#dashboard {
  background-image: url(../assets/images/bgmain.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
}
</style>