<template>
  <div id="app" class="vue-tempalte">
    <!-- Navigation -->
    <nav class="navbar justify-content-between flex-nowrap flex-row fixed-top">
      <div class="container">
        <a class="navbar-brand float-left" href="https://www.positronx.io" target="_blank">
          <!--          positronX.io-->
        </a>
        <ul class="nav navbar-nav flex-row float-right">
          <li class="nav-item">
            <!--            <router-link class="nav-link pr-3" to="/login">Вход</router-link>-->
            <b-button v-b-modal.login-modal>Войти</b-button>
          </li>
          <li class="nav-item">
            <!--            <router-link class="btn btn-outline-primary" to="/signup">Регистрация</router-link>-->
            <b-button v-b-modal.signup-modal>Зарегистрироватся</b-button>
          </li>
        </ul>
      </div>
    </nav>
    <div class="wrapper">
      <div class="firstbg wow fadeIn">
        <div class="firstbg__container">
          <div class="firstbg__left wow fadeInLeft" data-wow-delay="0.5s" data-wow-duration="2s"
               style="visibility: visible; animation-duration: 2s; animation-delay: 0.5s; animation-name: fadeInLeft;">
            <div class="firstbg__leftinside">
              <div class="firstbg__logo">
                <img alt="" src="../assets/images/logo.svg">
              </div>
              <div class="firstbg__descr">самые перспективные и доходные направления бизнеса</div>
              <div class="firstbg__title">БУДУЩЕЕ <br>
                <span>НАЧИНАЕТСЯ <br>СЕЙЧАС</span>
              </div>
              <div class="firstbg__list">
                <ul>
                  <li>Ваш пассивный <strong>доход от 15% до 25%</strong> от суммы депозита
                  </li>
                  <li>Прозрачность и открытость
                  </li>
                  <li>Инвестируем только в <strong>собственный бизнес</strong></li>
                  <li>Отраслевая поддержка государства</li>
                </ul>
              </div>
              <div class="bottomror">
                <div class="firstbg__btn">
                  <!--                  <a href="cabinet.html" class="gradbtn">УЗНАТЬ ПОДРОБНЕЕ</a>-->
                  <router-link class="nav-link pr-3 gradbtn" to="/dashboard">УЗНАТЬ ПОДРОБНЕЕ</router-link>
                </div>
                <div class="firstbg__leftbottom">
                  <div class="firstbg__social">
                    <ul>
                      <li>
                        <a href="#" target="_blank">
                          <svg fill="none" height="8" viewBox="0 0 12 8" width="12" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M11.3327 1.58542C11.2008 1.01251 10.7322 0.589829 10.168 0.526778C8.83217 0.377655 7.48006 0.376877 6.13418 0.377655C4.78808 0.376877 3.43574 0.377655 2.09987 0.526778C1.53608 0.589829 1.0678 1.01251 0.935916 1.58542C0.748207 2.40131 0.746094 3.29193 0.746094 4.13196C0.746094 4.97198 0.746094 5.86249 0.933803 6.67827C1.06547 7.25107 1.53385 7.67375 2.09798 7.73691C3.43374 7.88615 4.78596 7.88693 6.13207 7.88615C7.47839 7.88693 8.83028 7.88615 10.1659 7.73691C10.7297 7.67386 11.1984 7.25118 11.3303 6.67827C11.5182 5.86238 11.5188 4.97187 11.5188 4.13196C11.5188 3.29193 11.5204 2.40131 11.3327 1.58542ZM4.74226 5.80399C4.74226 4.61235 4.74226 3.43316 4.74226 2.24141C5.88398 2.83712 7.01813 3.42882 8.16707 4.0282C7.02169 4.62225 5.88698 5.2104 4.74226 5.80399Z"
                                fill="#4286A4"></path>
                          </svg>
                        </a>
                      </li>
                      <li>
                        <a href="#" style="padding-right: 2px;padding-top: 2px;" target="_blank">
                          <svg fill="none" height="11" viewBox="0 0 11 11" width="11"
                               xmlns="http://www.w3.org/2000/svg">
                            <g clip-path="url(#clip0)">
                              <path
                                  d="M0.194292 5.30372L2.72891 6.24972L3.70997 9.40478C3.77274 9.60685 4.01984 9.68154 4.18385 9.54745L5.59668 8.39568C5.74478 8.27501 5.95573 8.26899 6.1105 8.38134L8.65876 10.2314C8.8342 10.359 9.08277 10.2628 9.12677 10.0508L10.9935 1.07147C11.0415 0.839886 10.814 0.646689 10.5935 0.731976L0.191322 4.74481C-0.0653809 4.84381 -0.0631442 5.20725 0.194292 5.30372ZM3.55186 5.74614L8.50545 2.69522C8.59448 2.64055 8.68607 2.76093 8.60962 2.83184L4.52147 6.63197C4.37778 6.76573 4.28508 6.94474 4.25883 7.13904L4.11957 8.17106C4.10113 8.30885 3.90756 8.32253 3.86954 8.18917L3.33395 6.30725C3.27261 6.09261 3.362 5.86333 3.55186 5.74614Z"
                                  fill="#4286A4"></path>
                            </g>
                            <defs>
                              <clipPath id="clip0">
                                <rect fill="white" height="11" width="11"></rect>
                              </clipPath>
                            </defs>
                          </svg>
                        </a>
                      </li>
                      <li>
                        <a href="#" style="padding-left: 1px;padding-top: 2px;" target="_blank">
                          <svg fill="none" height="11" viewBox="0 0 11 11" width="11"
                               xmlns="http://www.w3.org/2000/svg">
                            <g clip-path="url(#clip0)">
                              <path
                                  d="M10.6757 2.15874C10.6214 2.17458 10.5672 2.18933 10.513 2.20307C10.1815 2.28677 10.151 2.17632 10.391 1.93265C10.4985 1.82345 10.5935 1.70469 10.6759 1.57642C10.8608 1.28877 10.7005 1.16333 10.3859 1.2977C10.2738 1.34563 10.1597 1.38909 10.0441 1.42783C9.72002 1.53666 9.26016 1.3725 8.97141 1.18935C8.60686 0.958178 8.19256 0.842651 7.72837 0.842651C7.07816 0.842651 6.52396 1.07196 6.06543 1.53023C5.60705 1.98873 5.37774 2.5431 5.37774 3.19314C5.37774 3.28204 5.38282 3.3723 5.39285 3.46381C5.40932 3.61276 5.15846 3.72074 4.81993 3.67293C4.08764 3.56954 3.39189 3.34765 2.73254 3.00751C2.07863 2.67022 1.5015 2.24576 1.00126 1.73413C0.762133 1.4896 0.438719 1.51066 0.349434 1.84075C0.29594 2.03862 0.269334 2.24441 0.269334 2.45814C0.269334 2.86093 0.36392 3.2345 0.553133 3.57885C0.647234 3.75022 0.757439 3.90536 0.883993 4.04417C1.09686 4.27784 1.06428 4.41341 0.76798 4.33034C0.471799 4.24726 0.254747 4.12393 0.254747 4.13198C0.254747 4.14003 0.254747 4.14659 0.254747 4.14659C0.254747 4.71406 0.432933 5.21269 0.789528 5.64198C1.00919 5.90646 1.26438 6.11076 1.555 6.25465C1.86146 6.40646 2.00422 6.49113 1.83285 6.5133C1.72946 6.52668 1.62545 6.53335 1.52083 6.53335C1.45001 6.53335 1.37572 6.53014 1.29821 6.52358C1.17562 6.51318 1.15359 6.76861 1.33944 7.05565C1.48716 7.28373 1.67623 7.48443 1.90656 7.6578C2.14083 7.83425 2.3933 7.9609 2.66359 8.03805C2.99247 8.13179 3.05846 8.30255 2.76524 8.47837C2.03964 8.91374 1.23666 9.1314 0.356414 9.1314C0.257235 9.1314 0.162629 9.12918 0.0722508 9.12485C-0.0846307 9.1173 0.0206179 9.25547 0.323476 9.41409C1.26984 9.90976 2.29471 10.1574 3.39822 10.1574C4.23255 10.1574 5.01608 10.0253 5.74874 9.76091C6.48113 9.49656 7.10706 9.14229 7.62612 8.69839C8.14518 8.2545 8.5928 7.74397 8.96884 7.16658C9.34477 6.58921 9.62485 5.98643 9.80935 5.3583C9.99358 4.73003 10.0858 4.10052 10.0858 3.46978C10.0858 3.41294 10.0854 3.36192 10.0845 3.31698C10.0827 3.23253 10.3061 3.00395 10.5555 2.77006C10.668 2.66445 10.7754 2.55362 10.8779 2.43736C11.1041 2.18065 11.0039 2.06302 10.6757 2.15874Z"
                                  fill="#4286A4"></path>
                            </g>
                            <defs>
                              <clipPath id="clip0">
                                <rect fill="white" height="11" width="11"></rect>
                              </clipPath>
                            </defs>
                          </svg>
                        </a>
                      </li>
                    </ul>
                  </div>
                  <div class="firstbg__email">
                    <a href="mailto:info@promercury.com">info@promercury.com</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="firstbg__right">

            <div class="firstbg__rightbottom wow fadeInUp" data-wow-delay="0.5s" data-wow-duration="2s"
                 style="visibility: visible; animation-duration: 2s; animation-delay: 0.5s; animation-name: fadeInUp;">
              <div class="firstbg__bottomrow">
                <div class="firstbg__bottomitem">
                  <div class="firstbg__bottomitemtop">350 <span>офисов</span></div>
                  <div class="firstbg__bottomitembottom">Холдинга</div>
                </div>
                <div class="firstbg__bottomitem">
                  <div class="firstbg__bottomitemtop">500 <span>млн. в год</span></div>
                  <div class="firstbg__bottomitembottom">товарооборот</div>
                </div>
                <div class="firstbg__bottomitem">
                  <div class="firstbg__bottomitemtop">150 258</div>
                  <div class="firstbg__bottomitembottom">партнеров</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <b-modal
        id="login-modal"
        ref="modal"
        centered
        title="Войдите или зарегистрируйтесь, чтобы продолжить"
        @hidden="resetModal"
        @ok="handleOk"
        @show="resetModal">
      <form ref="form" @submit.stop.prevent="handleSubmit">
        <b-form-group
            :state="nameState"
            invalid-feedback="Login is required"
            label="Логин"
            label-for="login-input"
        >
          <b-form-input
              id="login-input"
              v-model="name"
              :state="nameState"
              required
          ></b-form-input>
        </b-form-group>
        <b-form-group
            :state="nameState"
            invalid-feedback="Password is required"
            label="Пароль"
            label-for="password-input"
        >
          <b-form-input
              id="password-input"
              v-model="name"
              :state="nameState"
              required
          ></b-form-input>
        </b-form-group>
        <!--        <b-button class="mt-3" block @click="hideModal">Войти</b-button>-->
      </form>
    </b-modal>
    <b-modal
        id="signup-modal"
        ref="modal"
        title="Заполните поля для регистрации:"
        @hidden="resetModal"
        @ok="handleOk"
        @show="resetModal">
      <form ref="form" @submit.stop.prevent="handleSubmit">
        <b-form-group
            :state="nameState"
            invalid-feedback="Lastname is required"
            label="Фамилия*"
            label-for="lastname-input"
        >
          <b-form-input
              id="lastname-input"
              v-model="name"
              :state="nameState"
              required
          ></b-form-input>
        </b-form-group>
        <b-form-group
            :state="nameState"
            invalid-feedback="Firstname is required"
            label="Имя*"
            label-for="firstname-input"
        >
          <b-form-input
              id="firstname-input"
              v-model="name"
              :state="nameState"
              required
          ></b-form-input>
        </b-form-group>
        <b-form-group
            :state="nameState"
            invalid-feedback="Middlename is required"
            label="Отчество"
            label-for="middlename-input"
        >
          <b-form-input
              id="middlename-input"
              v-model="name"
              :state="nameState"
              required
          ></b-form-input>
        </b-form-group>
        <b-form-group
            :state="nameState"
            invalid-feedback="E-mail is required"
            label="E-mail*"
            label-for="email-input"
        >
          <b-form-input
              id="email-input"
              v-model="name"
              :state="nameState"
              required
          ></b-form-input>
        </b-form-group>
        <b-form-group
            :state="nameState"
            invalid-feedback="E-mail is required"
            label="Логин*"
            label-for="login-input"
        >
          <b-form-input
              id="login-input"
              v-model="name"
              :state="nameState"
              required
          ></b-form-input>
        </b-form-group>
        <b-form-group
            :state="nameState"
            invalid-feedback="E-mail is required"
            label="Пароль*"
            label-for="password-input"
        >
          <b-form-input
              id="password-input"
              v-model="name"
              :state="nameState"
              required
          ></b-form-input>
        </b-form-group>
        <b-form-group
            :state="nameState"
            invalid-feedback="E-mail is required"
            label="Повторите пароль*"
            label-for="repeat-password-input"
        >
          <b-form-input
              id="repeat-password-input"
              v-model="name"
              :state="nameState"
              required
          ></b-form-input>
        </b-form-group>

        <b-form-group
            :state="nameState"
            invalid-feedback="E-mail is required"
            label="ID пригласившего партнера*"
            label-for="id-partner-input"
        >
          <b-form-input
              id="id-partner-input"
              v-model="name"
              :state="nameState"
              required
          ></b-form-input>
        </b-form-group>
      </form>
    </b-modal>
  </div>


</template>

<script>
export default {
  name: 'helloscreen',
  data() {
    return {
      name: '',
      nameState: null,
      submittedNames: []
    }
  },
  methods: {
    checkFormValidity() {
      const valid = this.$refs.form.checkValidity()
      this.nameState = valid
      return valid
    },
    resetModal() {
      this.name = ''
      this.nameState = null
    },
    handleOk(bvModalEvt) {
      // Prevent modal from closing
      bvModalEvt.preventDefault()
      // Trigger submit handler
      this.handleSubmit()
    },
    handleSubmit() {
      // Exit when the form isn't valid
      if (!this.checkFormValidity()) {
        return
      }
      // Push the name to submitted names
      this.submittedNames.push(this.name)
      // Hide the modal manually
      this.$nextTick(() => {
        this.$bvModal.hide('')
      })
    }
  }
}
</script>

<style scoped>

</style>