<template>
  <div id="cabinet">
    <b-container class="cabinet-container" fluid>
      <div class="content">
        <b-row class="mx-0">
          <div class="component-wrapper">
            <div class="wrapper">
              <b-row>
                <h1 id="dash-head-text">ЛИЧНЫЙ КАБИНЕТ</h1>
                <b-col col md="12">
                  <b-container class="head-info-block">
                    <b-row>
                      <b-col col lg="2">
                        <h4>ID</h4>
                        <p>15987</p>
                      </b-col>
                      <b-col col lg="3">
                        <h4>логин</h4>
                        <p>Alexey Turchak</p>
                      </b-col>
                      <b-col col lg="3">
                        <h4>партнер</h4>
                        <p>Тестовый режим</p>
                      </b-col>
                      <b-col col lg="4">
                        <h4>Emal партнера</h4>
                        <p>info@promercury.com</p>
                      </b-col>
                      <div id="personal-ref"><span>Персональная реферальная ссылка:</span><a href="">https://promercury.com/lk/15987</a>
                      </div>
                    </b-row>
                  </b-container>
                </b-col>
                <b-col col md="12">
                  <b-row class="graf">
                    <b-col col md="6">
                      <div class="graf__left">
                        <div class="graf__line">
                          <div class="graf__title">личный счет</div>
                          <div class="graf__value">5 025 025, 00 ₽</div>
                        </div>
                        <div class="graf__line">
                          <div class="graf__title">вознаграждения</div>
                          <div class="graf__value">00, 00 ₽</div>
                        </div>
                        <div class="graf__line">
                          <div class="graf__title">бизнес счет</div>
                          <div class="graf__value">143 025, 25 $</div>
                        </div>
                        <div class="graf__btns">
                          <div class="graf__btnitem">
                            <a class="gradbtn" href="#">ПОПОЛНИТЬ</a>
                          </div>
                          <div class="graf__btnitem">
                            <a class="gradbtn gradbtn__nobg" href="#">ВЫВЕСТИ</a>
                          </div>
                        </div>
                      </div>
                    </b-col>
                    <b-col col md="6">
                      <div class="graf__right">
                        <div class="graf__righttop">
                          <div class="graf__selectitem">
                            <select class="graf__select">
                              <option value="1 месяцев">1 месяцев</option>
                              <option value="2 месяцев">2 месяцев</option>
                              <option value="3 месяцев">3 месяцев</option>
                              <option value="4 месяцев">4 месяцев</option>
                              <option selected="" value="6 месяцев">6 месяцев</option>
                            </select>
                          </div>
                          <div class="graf__selectitem">
                            <select class="graf__select">
                              <option value="1 bitcoin">1 bitcoin</option>
                              <option value="2 bitcoin">2 bitcoin</option>
                              <option value="3 bitcoin">3 bitcoin</option>
                              <option value="4 bitcoin">4 bitcoin</option>
                              <option selected="" value="bitcoin">bitcoin</option>
                            </select>
                          </div>
                        </div>
                        <div class="graf__visual">
                          <img alt="" src="../assets/images/graf.png">
                        </div>
                      </div>
                    </b-col>


                  </b-row>

                </b-col>

              </b-row>
            </div>
          </div>
        </b-row>

      </div>

    </b-container>
  </div>
</template>

<script>
export default {
  name: "MyCabinet",
  data() {
    return {}
  }
}
</script>

<style scoped>

</style>