<template>
  <div id="myfin">
    <b-container class="myfin-container" fluid>
      <div class="content">
        <b-row>
          <b-col col md="12" cols="12"><h1 class="dash-head-text">ФИНАНСЫ</h1></b-col>
          <b-col col md="12" cols="12">
            <div class="head-card-component">
              <b-card no-body>
                <b-tabs card class="btn-main">
                  <b-tab active title="ПОПОЛНИТЬ СЧЕТ" class="charge-tab">
                    <b-row>
                      <b-col col md="6" cols="12">
                        <b-card class="mb-3 main-card card-1">
                          <b-row>
                            <b-col md="7" sm="7" cols="8">
                              <b-card-body>
                                <h3 id="title-text">ОНЛАЙН</h3>
                                <h4>пополнение для физических лиц</h4>
                              </b-card-body>
                            </b-col>
                            <b-col md="5" sm="5" cols="4">
                              <b-img slot="img" class=" img-fluid" img-alt="Card image"
                                     src="../assets/images/item1.png"></b-img>
                            </b-col>
                          </b-row>
                        </b-card>
                      </b-col>
                      <b-col col md="6" cols="12">
                        <b-card class="mb-3 main-card card-2">
                          <b-row>
                            <b-col d="7" sm="7" cols="8">
                              <b-card-body>
                                <h3>БЕЗНАЛИЧНЫЙ</h3>
                                <h4>перевод для ИП и юридических лиц</h4>
                              </b-card-body>
                            </b-col>
                            <b-col md="5" sm="5" cols="4">
                              <b-img slot="img" class=" img-fluid" img-alt="Card image"
                                     src="../assets/images/item2.png"></b-img>
                            </b-col>
                          </b-row>
                        </b-card>
                      </b-col>
                      <b-col col md="12">
                        <b-card class="mb-3 main-card card-3">
                          <b-row>
                            <b-col md="9">
                              <b-card-body>
                                <h3>НАЛИЧНЫМИ</h3>
                                <h4>Можно пополнить Ваш счет в офисе компании по адресу:</h4>
                                <p>г. Самара, Московское шоссе, 4А, стр. 2</p>
                              </b-card-body>
                            </b-col>
                            <b-col md="3">
                              <b-img slot="img" class=" img-fluid" img-alt="Card image"
                                     src="../assets/images/cash.png"></b-img>
                            </b-col>
                          </b-row>
                        </b-card>
                      </b-col>
                      <b-col col md="12" cols="12">
                        <b-card class="mb-3 main-card card-4">
                          <b-row>
                            <b-col md="12"><h3>У вас остались вопросы или нужна консультация? </h3></b-col>
                            <b-col class="pt-xl-4" md="12">
                              <b-row>
                                <b-col md="12" xl="5">
                                  <h4>Оставьте свой номер телефона и мы вам перезвоним в течении 10 минут</h4>
                                </b-col>
                                <b-col md="12" xl="7">
                                  <b-form v-if="show" class="d-flex align-items-center " inline @submit="onSubmit">
                                    <b-form-group id="input-group-tel-1" class="d-flex flex-column align-items-start">
                                      <div class="d-flex flex-column align-items-start">
                                        <b-form-input
                                            id="input-tel-1"
                                            v-model="form.questionfield"
                                            placeholder="+ 7 (---) --- -- --"
                                            required
                                        ></b-form-input>
                                      </div>
                                    </b-form-group>
                                    <b-button class="btn-gradient callme-btn" type="submit">ПОЗВОНИТЕ МНЕ</b-button>
                                  </b-form>
                                </b-col>
                              </b-row>
                            </b-col>
                          </b-row>
                        </b-card>
                      </b-col>
                    </b-row>
                  </b-tab>
                  <b-tab class="history-tab" title="ИСТОРИЯ ОПЕРАЦИЙ">
                    <b-row>
                      <b-col col md="12" cols="12">
                        <b-form v-if="show" class="d-flex align-items-end" inline @reset="onReset" @submit="onSubmit">
                          <b-form-group id="input-group-1" class="d-flex flex-column align-items-start"
                                        label="Выберите счет:"
                                        label-for="input-1">
                            <b-form-select
                                id="input-1"
                                v-model="form.accounttype"
                                :options="accounttypes"
                                required
                                @change="onChange"
                            ></b-form-select>
                          </b-form-group>
                          <b-form-group id="input-group-2" class="d-flex flex-column align-items-start"
                                        label="Выберите период:"
                                        label-for="datepicker">
                            <b-form-datepicker id="datepicker" v-model="form.daterange"
                                               :date-format-options="{ year: 'numeric', month: '2-digit', day: '2-digit' }"></b-form-datepicker>
                          </b-form-group>
                          <b-button class="btn-gradient history-search-btn" type="submit">НАЙТИ</b-button>
                        </b-form>
                      </b-col>
                      <b-col col md="12" cols="12">
                        <b-card class="mb-3 main-card card-5">
                          <b-row>
                            <b-col class="pl-md-2 pl-lg-3 pl-xl-5" md="4" cols="6">
                              <p>приход</p>
                              <span>3 156,25 USD</span>
                            </b-col>
                            <b-col class="pl-md-2 pl-lg-3 pl-xl-5" md="4" cols="6">
                              <p>расход</p>
                              <span>145 125, 21 USD </span>
                            </b-col>
                            <b-col class="pl-md-2 pl-lg-3 pl-xl-5" md="4" cols="6">
                              <p>остаток</p>
                              <span>- 142 152, 21 USD</span>
                            </b-col>
                          </b-row>
                        </b-card>
                      </b-col>
                      <b-col col md="12">
                        <b-table :fields="history_trans_fields" :items="history_trans_items" class="head-table" hover striped>
                          <!-- A virtual column -->
                          <template #cell(index)="data">
                            {{ data.index + 1 }}
                          </template>
                        </b-table>
                      </b-col>
                    </b-row>
                  </b-tab>
                  <b-tab title="ПОСТУПЛЕНИЕ" class="incoming-tab">
                    <b-row>
                      <b-col col md="12" cols="12">
                        <b-card class="mb-3 main-card card-incoming">
                          <b-row>
                            <b-col md="5" xl="3" cols="5">
                              <b-img slot="img" class="img-fluid" img-alt="Card image"
                                     src="../assets/images/finance3.png"></b-img>
                            </b-col>
                            <b-col md="7" xl="9" cols="7">
                              <b-card-body>
                                <h3>Сумма ожидаемых платежей</h3>
                                <h4>3 156,25 USD</h4>
                              </b-card-body>
                            </b-col>
                          </b-row>
                        </b-card>
                      </b-col>
                      <b-col col md="12" cols="12">
                        <b-table :fields="incoming_fields" :items="incoming_items" class="head-table" hover striped>
                           A virtual column
                              <template #cell(index)="data">
                                {{ data.index + 1 }}
                              </template>
                        </b-table>
                      </b-col>
                    </b-row>
                  </b-tab>
                  <b-tab class="withdrawal-tab" title="ВЫВОД СРЕДСТВ">
                    <b-row>
                      <b-col col md="12" cols="12">
                        <b-card class="mb-3 main-card card-withdrawal">
                          <b-row>
                            <b-col md="4" xl="3" cols="3">
                              <b-img slot="img" class="img-fluid" img-alt="Card image"
                                     src="../assets/images/finance4.png"></b-img>
                            </b-col>
                            <b-col md="8" xl="9" cols="9">
                              <b-card-body>
                                <div class="d-flex align-items-center">
                                  <h3>Сумма доступная для вывода*</h3>
                                  <h4>3 156,25 USD</h4>
                                </div>
                                <p>*минимальная сумма вывода - 100 USD</p>
                              </b-card-body>
                            </b-col>
                          </b-row>
                        </b-card>
                      </b-col>
                      <b-col class="mb-md-4" col md="12">
                        <b-form v-if="show" class="d-flex align-items-center " inline @reset="onReset"
                                @submit="onSubmit">
                          <b-form-group id="input-group-withdrawal-1" class="d-flex flex-column align-items-start"
                                        label="Сумма к выводу" label-for="input-withdrawal-sum">
                            <div class="d-flex flex-column align-items-start">
                              <b-form-input
                                  id="input-withdrawal-sum"
                                  v-model="form.withdrawalsum"
                                  placeholder="Сумма"
                                  required
                              ></b-form-input>
                              <a href="#">Добавить всю сумму</a>
                            </div>
                          </b-form-group>
                          <b-form-group id="input-group-withdrawal-2" class="d-flex flex-column align-items-start"
                                        label="Ревизиты"
                                        label-for="input-carddetails">
                            <div class="d-flex flex-column align-items-start">
                              <b-form-select
                                  id="input-carddetails"
                                  v-model="form.carddetail"
                                  :options="carddetails"
                                  description="Let us know your name."
                                  required
                                  @change="onChange"
                              ></b-form-select>
                              <a href="#">Добавить новые реквизиты</a>
                            </div>
                          </b-form-group>
                          <b-button class="btn-gradient withdrawal-btn" type="submit">НАЙТИ</b-button>
                        </b-form>
                      </b-col>
                      <b-col col lg="12" cols="12">
                        <b-card class="mb-3 main-card card-4">
                          <b-row>
                            <b-col md="12"><h3>У вас остались вопросы или нужна консультация? </h3></b-col>
                            <b-col class="pt-xl-4" md="12">
                              <b-row>
                                <b-col md="12" xl="5">
                                  <h4>Оставьте свой номер телефона и мы вам перезвоним в течении 10 минут</h4>
                                </b-col>
                                <b-col md="12" xl="7">
                                  <b-form v-if="show" class="d-flex align-items-center " inline @submit="onSubmit">
                                    <b-form-group id="input-group-tel-2" class="d-flex flex-column align-items-start">
                                      <div class="d-flex flex-column align-items-start">
                                        <b-form-input
                                            id="input-tel-2"
                                            v-model="form.questionfield"
                                            placeholder="+ 7 (---) --- -- --"
                                            required
                                        ></b-form-input>
                                      </div>
                                    </b-form-group>
                                    <b-button class="callme-btn btn-gradient" type="submit">ПОЗВОНИТЕ МНЕ</b-button>
                                  </b-form>
                                </b-col>
                              </b-row>
                            </b-col>
                          </b-row>
                        </b-card>
                      </b-col>
                    </b-row>
                  </b-tab>
                </b-tabs>
              </b-card>
            </div>
          </b-col>
        </b-row>
      </div>
    </b-container>
  </div>
</template>

<script>
export default {
  name: "MyFinancials",

  data() {
    // const now = new Date()
    const randomDate = new Date()
    let ye = new Intl.DateTimeFormat('en', {year: 'numeric'}).format(randomDate);
    let mo = new Intl.DateTimeFormat('en', {month: '2-digit'}).format(randomDate);
    let da = new Intl.DateTimeFormat('en', {day: '2-digit'}).format(randomDate);
    return {
      // tables content
      history_trans_fields: [
        // A virtual column that doesn't exist in items
        {key: 'index', label: '№'},
        // A column that needs custom formatting
        {
          key: 'dateTransaction',
          label: 'дата',
          sortable: true,
          formatter: () => {
            return `${da}.${mo}.${ye}`
          },
        },
        {key: 'description', label: 'описание'},
        {key: 'income', label: 'приход USD', sortable: true},
        {key: 'expenditure', label: 'расход USD', sortable: true},
        {
          key: 'balance',
          label: 'остаток',
          sortable: true,
          formatter: (value, key, items) => {
            return items.income - items.expenditure
          }
        }
      ],
      history_trans_items: [
        {description: 'Оформление индекса', income: '10200', expenditure: '1500'},
        {description: 'Оплата суммы входа по товарному индексу', income: '13270', expenditure: '150'},
        {description: 'Завершение договора', income: '1200', expenditure: '7500'},
        {description: 'Выплата процентов, Индекс В1 от 13.06.2021', income: '127500', expenditure: '600'},
        {description: 'Оформление индекса', income: '12940', expenditure: '1800'},
        {description: 'Выплата процентов, Индекс В1 от 13.09.2020', income: '10200', expenditure: '1500'},
        {description: 'Оплата суммы входа по товарному индексу', income: '13270', expenditure: '150'},
        {description: 'Завершение договора', income: '12000', expenditure: '7500'},
        {description: 'Оформление индекса', income: '17100', expenditure: '190'},
        {description: 'Выплата процентов, Индекс В1 от 13.06.2021', income: '127500', expenditure: '600'},
        {description: 'Оформление индекса', income: '12940', expenditure: '1800'},
      ],

      incoming_fields: [
        // A virtual column that doesn't exist in items
        {key: 'index', label: '№'},
        // A column that needs custom formatting
        {
          key: 'dateTransaction',
          label: 'дата',
          sortable: true,
          formatter: () => {
            return `${da}.${mo}.${ye}`
          },
        },
        {key: 'description', label: 'описание'},
        {key: 'income', label: 'сумма USD', sortable: true},
      ],
      incoming_items: [
        {description: 'Оформление индекса', income: '4500'},
        {description: 'Оплата суммы входа по товарному индексу', income: '5800'},
        {description: 'Завершение договора', income: '11900'},
        {description: 'Выплата процентов, Индекс В1 от 13.06.2021', income: '9500'},
        {description: 'Оформление индекса', income: '10200'},
        {description: 'Выплата процентов, Индекс В2 от 27.05.2021', income: '12500'},
        {description: 'Оформление индекса', income: '5400'},
        {description: 'Оплата суммы входа по товарному индексу', income: '11600'},
        {description: 'Завершение договора', income: '5900'},
        {description: 'Оформление индекса', income: '9580'},
        {description: 'Оплата суммы входа по товарному индексу', income: '14000'},
      ],


      form: {
        questionfield: '',

        accounttype: null,
        daterange: '',

        withdrawalsum: '',
        carddetail: '',
        checked: []
      },
      accounttypes: [{text: 'Выберете', value: null}, {text: 'Бизнес счет', value: 1}, {
        text: 'Лицевой счет',
        value: 2
      }],
      carddetails: [{text: 'Выберете', value: null}, {text: 'Debit card', value: 1}, {text: 'Credit card', value: 2}],
      show: true
    }
  },
  methods: {
    onSubmit(event) {
      event.preventDefault()
      alert(JSON.stringify(this.form))
    },
    onReset(event) {
      event.preventDefault()
      // Reset our form values
      this.form.accounttype = null
      this.form.daterange = ''
      this.form.checked = []
      // Trick to reset/clear native browser form validation state
      this.show = false
      this.$nextTick(() => {
        this.show = true
      })
    },
    onChange() {
      // console.log(this.form.accounttype)
      // alert(JSON.stringify(this.form.accounttype))
    }
  }
}
</script>

<style scoped>

</style>