<template>
  <div id="myindexes">
    <b-container class="myindexes-container" fluid>
      <div class="content">
        <b-row class="mx-0">
          <div class="component-wrapper">
            <div class="wrapper">
              <h1 class="dash-head-text">МОИ ИНДЕКСЫ</h1>
              <b-col col class="mb-md-2" md="12">
                <b-row class="justify-content-between">
                  <b-col col xl="7" md="9">
                    <b-row class="indexes-card">
                      <b-col col md="6">
                        <p>всего индексов на сумму</p>
                        <h3>2 589 256, 00 USD</h3>
                      </b-col>
                      <b-col col md="6">
                        <p>курс</p>
                        <h3>1 USD = 74,27 ₽</h3>
                      </b-col>
                    </b-row>
                  </b-col>
                  <b-col class="d-flex align-items-md-end justify-content-md-end" col xl="5" md="3">
                    <b-img slot="img" class="img-fluid myindexes-top-img" img-alt="Card image"
                           src="../assets/images/myindex.png"></b-img>
                    <b-form-group v-slot="{ ariaDescribedby }" class="d-flex flex-row">
                      <b-form-checkbox-group
                          id="checkbox-group-myindexes"
                          :aria-describedby="ariaDescribedby"
                          name="flavour-2"
                      >
                        <b-form-checkbox value="orange">все</b-form-checkbox>
                        <b-form-checkbox value="apple">активный</b-form-checkbox>
                        <b-form-checkbox value="pineapple">завершенный</b-form-checkbox>
                      </b-form-checkbox-group>
                    </b-form-group>
                  </b-col>
                </b-row>
              </b-col>
              <b-col col md="12">
                <b-table :fields="fields" :items="items" class="head-table" hover striped>
                  <!-- A virtual column -->
                  <!--                    <template #cell(index)="data">-->
                  <!--                      {{ data.index + 1 }}-->
                  <!--                    </template>-->
                </b-table>
              </b-col>
            </div>
          </div>
        </b-row>

      </div>
    </b-container>
  </div>
</template>

<script>
export default {
  name: "MyIndexes",
  data() {

    const randomDate = new Date()
    let ye = new Intl.DateTimeFormat('en', {year: 'numeric'}).format(randomDate);
    let mo = new Intl.DateTimeFormat('en', {month: '2-digit'}).format(randomDate);
    let da = new Intl.DateTimeFormat('en', {day: '2-digit'}).format(randomDate);
    return {
      fields: [
        {
          key: 'dateProcessed',
          label: 'оформлен',
          formatter: () => {
            return `${da}.${mo}.${ye}`
          },
        },
        {key: 'finalized', label: 'завершен'},
        {key: 'amount', label: 'сумма', sortable: true},
        {key: 'status', label: 'статус'},
        {
          key: 'programType',
          label: 'программа',
        }
      ],
      items: [
        {finalized: 'Бессрочный', amount: '10 000, 00 $', status: 'Активен', programType: 'Индекс В1'},
        {finalized: 'Бессрочный', amount: '12 000, 00 $', status: 'Не активен', programType: 'Индекс В1'},
        {finalized: 'Бессрочный', amount: '11 400, 00 $', status: 'Активен', programType: 'Индекс В2'},
        {finalized: 'Бессрочный', amount: '10 540, 00 $', status: 'Активен', programType: 'Индекс В1'},
        {finalized: 'Бессрочный', amount: '16 059, 00 $', status: 'Активен', programType: 'Индекс В5'},
        {finalized: 'Бессрочный', amount: '12 000, 00 $', status: 'Не активен', programType: 'Индекс В1'},
        {finalized: 'Бессрочный', amount: '19 030, 00 $', status: 'Активен', programType: 'Индекс В4'},
        {finalized: 'Бессрочный', amount: '9 000, 00 $', status: 'Не активен', programType: 'Индекс В3'},
        {finalized: 'Бессрочный', amount: '7 000, 00 $', status: 'Активен', programType: 'Индекс В1'},
        {finalized: 'Бессрочный', amount: '12 590, 00 $', status: 'Активен', programType: 'Индекс В2'},
        {finalized: 'Бессрочный', amount: '13 150, 00 $', status: 'Активен', programType: 'Индекс В1'},
        {finalized: 'Бессрочный', amount: '4 950, 00 $', status: 'Активен', programType: 'Индекс В2'},
        {finalized: 'Бессрочный', amount: '9 140, 00 $', status: 'Не активен', programType: 'Индекс В1'},
      ],
    }
  }
}
</script>

<style scoped>

</style>