<template>
  <div id="myteam">
    <b-container class="myteam-container" fluid>
      <div class="content">
        <b-row>
          <b-col col lg="12">
            <b-img :src="imageSource" class=" img-fluid" img-alt="image" style="position: absolute; top: -20px;  right: 44px;  z-index: 2;
}"></b-img>
            <h1 class="dash-head-text">МОЯ КОМАНДА</h1>
          </b-col>
          <b-col col lg="12">
            <div class="head-card-component">
              <b-card no-body>
                <b-tabs card class="btn-main">
                  <b-tab id="first-tab" active title="МОИ ПАРТНЕРЫ" v-on:click="changeIconFunc(0)">
                    <b-row>
                      <b-col col lg="12">
                        <b-card class="mb-3 main-card card-4 myteam-send-mail-card">
                          <b-row>
                            <b-col md="12"><h3>РЕГИСТРАЦИЯ НОВОГО ПАРТНЕРА</h3></b-col>
                            <b-col class="pt-xl-4" md="12">
                              <b-row>
                                <b-col md="12" xl="5">
                                  <h4>Оставьте свой номер телефона и мы вам перезвоним в течении 10 минут</h4>
                                  <div class="d-flex flex-row align-items-center">
                                    <h3 class="link-text mb-0">https://promercury.com/lk/15987</h3>
                                    <b-img slot="img" class="ml-md-2 img-fluid" img-alt="image"
                                           src="../assets/images/icon_copy.svg"></b-img>
                                  </div>
                                </b-col>
                                <b-col md="12" xl="7">
                                  <b-form class="d-flex align-items-center " inline>
                                    <b-form-group id="input-group-myteam" class="d-flex flex-column align-items-start">
                                      <div class="d-flex flex-column align-items-start">
                                        <b-form-input
                                            id="input-email"
                                            v-model="form.questionfield"
                                            placeholder="введите Email"
                                            required
                                        ></b-form-input>
                                      </div>

                                    </b-form-group>
                                    <b-button class="btn-gradient callme-btn" type="submit">ОТПРАВИТЬ</b-button>
                                  </b-form>
                                </b-col>
                              </b-row>
                            </b-col>

                          </b-row>
                        </b-card>
                      </b-col>
                      <b-col col md="12">
                        <b-table :fields="team_table_fields" :items="team_table_items" class="head-table" hover striped>
                          <!-- A virtual column -->
                          <template #cell(index)="data">
                            {{ data.index + 1 }}
                          </template>
                        </b-table>
                      </b-col>
                    </b-row>
                  </b-tab>
                  <b-tab title="МОЯ СТРУКТУРА" v-on:click="changeIconFunc(1)">
                  </b-tab>
                  <b-tab title="СТАТИСТИКА" v-on:click="changeIconFunc(2)">
                    <b-col col md="12">
                      <b-table :fields="incoming_fields" :items="incoming_items" class="head-table" hover striped>
                        A virtual column
                        <template #cell(index)="data">
                          {{ data.index + 1 + " уровень"}}
                        </template>
                      </b-table>
                    </b-col>
                  </b-tab>
                </b-tabs>
              </b-card>
            </div>
          </b-col>
        </b-row>
      </div>
    </b-container>

  </div>
</template>

<script>
export default {
  name: "MyTeam",
  data () {

    const randomDate = new Date()
    let ye = new Intl.DateTimeFormat('en', {year: 'numeric'}).format(randomDate);
    let mo = new Intl.DateTimeFormat('en', {month: '2-digit'}).format(randomDate);
    let da = new Intl.DateTimeFormat('en', {day: '2-digit'}).format(randomDate);
    return {
      // tables content
      team_table_fields: [
        // A virtual column that doesn't exist in items
        {key: 'index', label: '№'},
        // A column that needs custom formatting
        {
          key: 'dateTransaction',
          label: 'дата',
          sortable: true,
          formatter: () => {
            return `${da}.${mo}.${ye}`
          },
        },
        {key: 'name_first_second', label: 'ФИО', sortable: true},
        {key: 'login_filed', label: 'логин'},
        {key: 'mobile_number', label: 'телефон'},
      ],
      team_table_items: [
        {name_first_second: 'Иванов Иван иванович', login_filed: 'test33 test33', mobile_number: '+ 7 800 800 00 00'},
        {name_first_second: 'Петров Петр Никитович', login_filed: 'test33 test33', mobile_number: '+ 7 800 800 00 00'},
        {name_first_second: 'Леонов Илья Александрович', login_filed: 'test33 test33', mobile_number: '+ 7 800 800 00 00'},
        {name_first_second: 'Безруков Александр Алексеевич', login_filed: 'test33 test33', mobile_number: '+ 7 800 800 00 00'},
        {name_first_second: 'Ермаков Борис Матвеевич', login_filed: 'test33 test33', mobile_number: '+ 7 800 800 00 00'},
        {name_first_second: 'Власов Арсен Аркадьевич', login_filed: 'test33 test33', mobile_number: '+ 7 800 800 00 00'},
        {name_first_second: 'Макаров Герман Георгиевич', login_filed: 'test33 test33', mobile_number: '+ 7 800 800 00 00'},
        {name_first_second: 'Казаков Фрол Федорович', login_filed: 'test33 test33', mobile_number: '+ 7 800 800 00 00'},
        {name_first_second: 'Савельев Платон Богданович', login_filed: 'test33 test33', mobile_number: '+ 7 800 800 00 00'},
        {name_first_second: 'Веселов Юрий Романович', login_filed: 'test33 test33', mobile_number: '+ 7 800 800 00 00'},
        {name_first_second: 'Галкин Иннокентий Дмитрьевич', login_filed: 'test33 test33', mobile_number: '+ 7 800 800 00 00'},
        {name_first_second: 'Воронов Яков Давидович', login_filed: 'test33 test33', mobile_number: '+ 7 800 800 00 00'},

      ],

      incoming_fields: [
        // A virtual column that doesn't exist in items
        {key: 'index', label: 'уровень'},
        // A column that needs custom formatting
        {key: 'partners_number', label: 'количество партнеров'},
        {key: 'groups_exchange', label: 'групповой объем', sortable: true},
      ],
      incoming_items: [
        {partners_number: '10', groups_exchange: '20 450, 00'},
        {partners_number: '12', groups_exchange: '12 800, 00'},
        {partners_number: '13', groups_exchange: '14 450, 00'},
        {partners_number: '8', groups_exchange: '16 320, 00'},
        {partners_number: '9', groups_exchange: '10 500, 00'},
        {partners_number: '11', groups_exchange: '11 060, 00'},
        {partners_number: '12', groups_exchange: '12 030, 00'},
        {partners_number: '7', groups_exchange: '15 180, 00'},
        {partners_number: '9', groups_exchange: '8 000, 00'},
        {partners_number: '8', groups_exchange: '11 250, 00'},
        {partners_number: '4', groups_exchange: '7 380, 00'},
      ],
      
      topRightImageUrls: ["team1", "team2", "team3"],
      imageSource: require(`../assets/images/team1.png`),
      form: {
        questionfield: '',
      }
    }
  },
  // computed: {
  //   itemImage(id) {
  //     if (!this.id) {
  //       return
  //     }
  //     const fileName = this.topRightImageUrls[id].toLowerCase();
  //     return require(`../assets/images/${fileName}.jpg`);
  //   }
  // },
  methods: {
    changeIconFunc: function (id) {
      // console.log(id)
      this.imageSource = require(`../assets/images/${this.topRightImageUrls[id].toLowerCase()}.png`)
      // this.imageSource = `/img/team2.fe77e23b.png`
    }
  }
}
</script>

<style scoped>

</style>