<template>
  <div id="ourcontacts">
    <b-container class="ourcontacts-container" fluid>
      <div class="content">
        <b-row>
          <b-col col md="12" cols="12">
            <h1 class="dash-head-text">КОНТАКТЫ</h1>
          </b-col>
          <b-col col md="12" cols="12">
            <b-row class="ouroffices-content">
              <b-col col md="12">
                <div class="hold-ourcontacts-card d-flex flex-column flex-fill">
                  <b-row>
                    <b-col class="w-100" col xl="4" cols="4">
                      <div class="gray-rect"></div>
                    </b-col>
                    <b-col class="w-100" col xl="8" cols="8">
                      <div class="d-flex flex-column align-items-start mb-xl-4 w-100">
                        <p class="mb-1">Адрес:</p>
                        <span>г. Самара, Московское шоссе, 4А, стр. 2</span>
                      </div>
                      <div class="d-flex flex-column align-items-start mb-xl-4">
                        <p class="mb-1">Телефон</p>
                        <span>+ 8 (800) 707-12-26</span>
                      </div>
                      <div class="d-flex flex-column align-items-start mb-xl-4">
                        <p class="mb-1">E-mail:</p>
                        <span>info@promercury.com</span>
                      </div>
                    </b-col>
                  </b-row>
                </div>
              </b-col>
              <b-col col md="12" cols="12">
                <b-card class="mb-3 main-card card-4 ourcontacts-call-card">
                  <b-row>
                    <b-col md="12"><h3>У вас остались вопросы или нужна консультация? </h3></b-col>
                    <b-col class="pt-md-4" md="12">
                      <b-row>
                        <b-col md="5">
                          <h4>Оставьте свой номер телефона и мы вам перезвоним в течении 10 минут</h4>
                        </b-col>
                        <b-col md="7">
                          <b-form class="d-flex align-items-center " inline>
                            <b-form-group id="input-group-tel-hold" class="d-flex flex-column align-items-start">
                              <div class="d-flex flex-column align-items-start">
                                <b-form-input
                                    id="input-tel-hold"
                                    placeholder="+ 7 (---) --- -- --"
                                    required
                                ></b-form-input>
                              </div>
                            </b-form-group>
                            <b-button class="callme-btn btn-gradient" type="submit">ПОЗВОНИТЕ МНЕ</b-button>
                          </b-form>
                        </b-col>
                      </b-row>
                    </b-col>
                  </b-row>
                </b-card>
              </b-col>
            </b-row>
          </b-col>
        </b-row>
      </div>
    </b-container>
  </div>
</template>

<script>
export default {
  name: "OurContacts"
}
</script>

<style scoped>

</style>