<template>
  <div id="ourexchange">
    <b-container class="ourexchange-container" fluid>
      <div class="content">
        <b-row>
          <b-col col md="12">
            <h1 class="dash-head-text">БИРЖА</h1>
          </b-col>
        </b-row>
      </div>
    </b-container>
  </div>
</template>

<script>
export default {
  name: "OurExchange"
}
</script>

<style scoped>

</style>