<template>
  <div id="ourholding">
    <b-container class="ourholding-container" fluid>
      <div class="content">
        <b-row>
          <b-col col md="12" cols="12">
            <h1 class="dash-head-text">О ХОЛДИНГЕ</h1>
          </b-col>
          <b-col col md="12" cols="12">
            <div class="head-card-component">
              <b-card no-body>
                <b-tabs card class="btn-main">
                  <b-tab title="О НАС">
                    <b-row class="aboutus-content">
                      <b-col col md="12">
                        <p>Холдинг - Mercury создан в 2018 году и в данный момент представляет на рынке несколько
                          дочерних компаний реализующих себя в разных областях бизнеса, таких как Биржевая торговля на
                          Фондовом и Криптовалютном рынках , торговля ювелирными изделиями и бриллиантами, сельское
                          хозяйство и производство молочных продуктов а также мы активно реализуем государственную
                          программу по развитию электротранспорта в России.
                        </p>
                        <span>Мы выбрали самые перспективные и наиболее доходные направления бизнеса и развиваем их, увеличивая наш капитал и капитал наших клиентов и удовлетворяя их потребности.</span>
                        <p>В наш холдинг входят компании «KEROIUS LIMITED» - биржевая торговля и торговля криптовалютой
                          , ООО «Независимость-Агро» - производство молочных продуктов , ООО «Голден-Н» - оптовая
                          торговля бриллиантами и ювелирными изделиями.
                        </p>
                        <p>Мы предлагаем нашим партнерам различные программы сотрудничества что позволяет им подобрать
                          для себя наиболее подходящий вариант.
                        </p>
                      </b-col>
                      <b-col col md="12">
                        <b-row>
                          <b-col col md="6">
                          <span>
                            Прозрачность и открытость.<br>Инвестируем только в собственный бизнес.<br>Отраслевая поддержка государства.
                          </span>
                          </b-col>
                          <b-col col md="6">
                            <b-img slot="img" class=" img-fluid" img-alt="image"
                                   src="../assets/images/hold1.png"></b-img>
                          </b-col>
                        </b-row>
                      </b-col>
                    </b-row>
                  </b-tab>
                  <b-tab title="МИССИЯ">
                    <b-row class="mission-content">
                      <b-col col md="12" cols="12">
                        <p>Основной миссией нашей компании является <span>обучение людей новым тенденциям рынка в сфере биржевой торговли на фондовом и криптовалютном рынках.</span>
                        </p>
                      </b-col>
                      <b-col col md="12" cols="12">
                        <div class="hold-mission-card">
                          <b-row class="align-items-center">
                            <b-col col xl="1" cols="2" style="text-align: center">
                              <b-img slot="img" class=" img-fluid" img-alt="Card image"
                                     src="../assets/images/mis1.svg"></b-img>
                            </b-col>
                            <b-col col xl="11" cols="10">
                              <p>Мы считаем, что за цифровыми технологиями будущее, и хотим что бы наши партнеры шли в
                                ногу со временем и имели те знания и возможности которые имеем мы и активно ими
                                пользовались для достижения своих материальных и душевных желаний.
                              </p>
                            </b-col>
                          </b-row>
                        </div>
                      </b-col>
                      <b-col col md="12">
                        <div class="hold-mission-card">
                          <b-row class="align-items-center">
                            <b-col col xl="1" cols="2" style="text-align: center">
                              <b-img slot="img" class=" img-fluid" img-alt="Card image"
                                     src="../assets/images/mis2.svg"></b-img>
                            </b-col>
                            <b-col col xl="11" cols="10">
                              <p>Мы готовы делиться нашим опытом и зарабатывать вместе с вами. А также мы активно
                                развиваем наш собственный бизнес это создание предприятий экологической направленности.
                              </p>
                            </b-col>
                          </b-row>
                        </div>
                      </b-col>
                      <b-col col md="12">
                        <div class="hold-mission-card">
                          <b-row class="align-items-center">
                            <b-col col xl="1" cols="2" style="text-align: center">
                              <b-img slot="img" class=" img-fluid" img-alt="Card image"
                                     src="../assets/images/mis3.svg"></b-img>

                            </b-col>
                            <b-col col xl="11" cols="10">
                              <p>Нашей компанией совместно с АЭТИ разрабатывается проект по строительству завода по
                                крупноузловой сборке элетромобилей в России, а также нами уже реализуется программа по
                                созданию сети молокоперерабатывающих предприятий в России.</p>
                            </b-col>
                          </b-row>
                        </div>
                      </b-col>
                      <b-col col md="12">
                        <div class="hold-mission-card">
                          <b-row class="align-items-center">
                            <b-col col xl="1" cols="2" style="text-align: center">
                              <b-img slot="img" class=" img-fluid" img-alt="Card image"
                                     src="../assets/images/mis4.svg"></b-img>
                            </b-col>
                            <b-col col xl="11" cols="10">
                              <p>Наша задача дать людям экологические товары и продукты собственного производства без
                                всяких добавок и ГМО.
                                Мы за здоровье нас и наших детей и мы за это отвечаем!!!!</p>
                            </b-col>
                          </b-row>
                        </div>
                      </b-col>
                    </b-row>
                  </b-tab>
                  <b-tab title="КАК МЫ РАБОТАЕМ">
                    <b-row class="howwework-content">
                      <b-col col md="12">
                        <p>Нами было сформирована <span>наша финансовая платформа</span> позволяющая нам <span>минимизировать риски</span>
                          бизнес процессов и направлять финансовые потоки в стратегически важные отрасли бизнеса. Мы
                          стараемся диверсифицировать риски и направляем финансовые потоки в разные области торговли,
                          тем самым мы используем несколько инструментов для получения максимальной прибыли и
                          стабильного положения компании.</p>
                        <p>Нами разработан алгоритм распределения прибыли, который помогает развиваться нам и нашим
                          партнерам.</p>
                      </b-col>
                      <b-col class="mt-md-4 mb-md-5" col md="12">
                        <b-row>
                          <b-col col md="3">
                            <div class="hold-howwework-card">
                              <h1>20%</h1>
                              <p>от прибыли получают</p>
                              <b-img slot="img" class=" img-fluid" img-alt="Card image"
                                     src="../assets/images/work1.png"></b-img>
                              <h2>ТРЕЙДЕРЫ</h2>
                            </div>
                          </b-col>
                          <b-col col md="3">
                            <div class="hold-howwework-card">
                              <h1>30%</h1>
                              <p>от прибыли получают</p>
                              <b-img slot="img" class=" img-fluid" img-alt="Card image"
                                     src="../assets/images/work2.png"></b-img>
                              <h2>ПАРТНЕРЫ</h2>
                            </div>
                          </b-col>
                          <b-col col md="3">
                            <div class="hold-howwework-card">
                              <h1>30%</h1>
                              <p>от прибыли получает</p>
                              <b-img slot="img" class=" img-fluid" img-alt="Card image"
                                     src="../assets/images/work3.png"></b-img>
                              <h2>КОМПАНИЯ</h2>
                            </div>
                          </b-col>
                          <b-col col md="3">
                            <div class="hold-howwework-card">
                              <h1>20%</h1>
                              <p>от прибыли идет в</p>
                              <b-img slot="img" class=" img-fluid" img-alt="Card image"
                                     src="../assets/images/work4.png"></b-img>
                              <h2 class="pt-2 mb-0" style="line-height: 1.4"><span>СТАБИЛИЗАЦИОННЫЙ</span><br>ФОНД</h2>
                            </div>
                          </b-col>
                        </b-row>
                      </b-col>
                      <b-col col md="12">
                        <h3 class="mb-md-4">В среднем все наши партнеры стабильно получают от 15% до 25% от суммы своего
                          депозита.</h3>
                        <p>Такое распределение прибыли позволяет нам развивать наши собственные проекты в области
                          молочной и ювелирной промышленностей и дает нашим партнерам возможность получать прибыль и
                          быть надежно защищенными.</p>
                        <h3 class="my-md-4">Наш классический бизнес приносит нам стабильную прибыль в размере от 5% до
                          15 % ежемесячно.</h3>
                        <p>Мы готовы расширять наш бизнес дальше и активно предлагаем нашим партнерам сотрудничество в
                          сфере ювелирной торговли, это значит что мы готовы оказать всестороннее содействие в открытии
                          ювелирных магазинов в разных городах России под нашим брендом, мы готовы предоставить
                          ювелирные изделия для торговли в вашем магазине и оказать юридическую поддержку для открытия
                          магазина.</p>
                        <p>По всем вопросам по открытию магазинов обращайтесь в администрацию Холдинга и мы с вами
                          свяжемся для обсуждения дальнейших действий.</p>

                      </b-col>
                    </b-row>
                  </b-tab>
                  <b-tab title="НАША КОМАНДА">
                    <b-row class="ourteam-content">
                      <b-col col md="12">
                        <b-row>
                          <b-col col md="4">
                            <div class="hold-ourteam-card d-flex flex-column align-items-center">
                              <div class="gray-rect"></div>
                              <p>наименование должности</p>
                              <span>ФАМИЛИЯ ИМЯ ОТЧЕСТВО</span>
                            </div>
                          </b-col>
                          <b-col col md="4">
                            <div class="hold-ourteam-card d-flex flex-column align-items-center">
                              <div class="gray-rect"></div>
                              <p>наименование должности</p>
                              <span>ФАМИЛИЯ ИМЯ ОТЧЕСТВО</span>
                            </div>
                          </b-col>
                          <b-col col md="4">
                            <div class="hold-ourteam-card d-flex flex-column align-items-center">
                              <div class="gray-rect"></div>
                              <p>наименование должности</p>
                              <span>ФАМИЛИЯ ИМЯ ОТЧЕСТВО</span>
                            </div>
                          </b-col>
                        </b-row>
                      </b-col>
                    </b-row>
                  </b-tab>
                  <b-tab title="НАШИ ОФИСЫ">
                    <b-row class="ouroffices-content">
                      <b-col col md="12">
                        <div class="hold-ouroffices-card d-flex flex-column flex-fill">
                          <b-row>
                            <b-col class="w-100" col xl="4" cols="4">
                              <div class="gray-rect"></div>
                            </b-col>
                            <b-col class="w-100" col xl="8" cols="8">
                              <div class="d-flex flex-column align-items-start mb-xl-4 w-100">
                                <p class="mb-1">Адрес:</p>
                                <span>г. Самара, Московское шоссе, 4А, стр. 2</span>
                              </div>
                              <div class="d-flex flex-column align-items-start mb-xl-4">
                                <p class="mb-1">Телефон</p>
                                <span>+ 8 (800) 707-12-26</span>
                              </div>
                              <div class="d-flex flex-column align-items-start mb-xl-4">
                                <p class="mb-1">E-mail:</p>
                                <span>info@promercury.com</span>
                              </div>
                            </b-col>
                          </b-row>
                        </div>
                      </b-col>
                      <b-col col md="12">
                        <b-card class="mb-3 main-card card-4 ouroffices-call-card">
                          <b-row>
                            <b-col md="12"><h3>У вас остались вопросы или нужна консультация? </h3></b-col>
                            <b-col class="pt-md-4" md="12">
                              <b-row>
                                <b-col md="5">
                                  <h4>Оставьте свой номер телефона и мы вам перезвоним в течении 10 минут</h4>
                                </b-col>
                                <b-col md="7">
                                  <b-form class="d-flex align-items-center " inline>
                                    <b-form-group id="input-group-tel-hold"
                                                  class="d-flex flex-column align-items-start">
                                      <div class="d-flex flex-column align-items-start">
                                        <b-form-input
                                            id="input-tel-hold"
                                            placeholder="+ 7 (---) --- -- --"
                                            required
                                        ></b-form-input>
                                      </div>
                                    </b-form-group>
                                    <b-button class="callme-btn btn-gradient" type="submit">ПОЗВОНИТЕ МНЕ</b-button>
                                  </b-form>
                                </b-col>
                              </b-row>
                            </b-col>
                          </b-row>
                        </b-card>
                      </b-col>
                    </b-row>
                  </b-tab>
                </b-tabs>
              </b-card>
            </div>
          </b-col>
        </b-row>
      </div>
    </b-container>
  </div>
</template>

<script>
export default {
  name: "OurHolding"
}
</script>

<style scoped>

</style>