<template>
  <div id="ournews">
    <b-container class="ournews-container" fluid>
      <div class="content">
        <b-row>
          <b-col col md="12">
            <h1 class="dash-head-text">НОВОСТИ</h1>
          </b-col>
          <b-col class="pb-md-4" col md="12" cols="12">
            <b-card class="mb-3 main-card card-news">
              <div class="d-flex flex-column flex-fill">
                <b-row>
                  <b-col col xl="3" md="4" cols="5">
                    <div class="gray-box"></div>
                  </b-col>
                  <b-col col xl="9" md="8" cols="7">
                    <h3 class="mb-md-4">Встреча с руководителем Союза Потребительских обществ «Русь»</h3>
                    <p>31 августа 2020 года состоялась рабочая встреча Дмитрия Зализняк, Председателя правления МПО
                      «Независимость», с Владимиром Рябовым, руководителем Союза Потребительских обществ «Русь». </p>
                  </b-col>
                  <b-col class="d-flex justify-content-end" col md="12">
                    <a href="">Подробнее
                      <b-img slot="img" class="img-fluid" img-alt="arrow-right"
                             src="../assets/images/arrow-right.svg"></b-img>
                    </a>
                  </b-col>
                </b-row>
              </div>
            </b-card>
          </b-col>
        </b-row>
      </div>
    </b-container>
  </div>
</template>

<script>
export default {
  name: "OurNews"
}
</script>

<style scoped>

</style>