<template>
  <div id="ourorganization">
    <b-container class="ourorganization-container" fluid>
      <div class="content">
        <b-row>
          <b-col col md="12" cols="12">
            <h1 class="dash-head-text">ОРГАНИЗАЦИИ</h1>
          </b-col>
          <b-col col md="12" cols="12">
            <div class="head-card-component">
              <b-card no-body>
                <b-tabs card class="btn-main">
                  <b-tab id="first-tab-organization" active title="KEROIUS LIMITED">
                    <b-row>
                      <b-col class="pb-md-4" col md="12" cols="12">
                        <b-card class="mb-3 main-card card-organization">
                          <b-row>
                            <b-col md="12">
                              <h3>ТОРГОВЛЯ НА ФОНДОВЫХ И КРИПТО БИРЖАХ</h3>
                            </b-col>
                            <b-col class="align-self-md-center px-5" md="4">
                              <b-img slot="img" class=" img-fluid" img-alt="Card image"
                                     src="../assets/images/org1.png"></b-img>
                            </b-col>
                            <b-col xl="8" cols="12">
                              <p>В мире создано много торговых площадок и порой цена на них отличатся друг от друга,
                                наши трейдеры торгуют на всех крупнейших биржах и проводят сделки по разным активам и в
                                моменте по разной цене, что позволяет нам повысить доходность и увеличить прибыль
                                компании и партнеров</p>
                            </b-col>
                          </b-row>
                        </b-card>
                      </b-col>
                      <b-col col md="12" cols="12">
                        <b-card class="mb-3 main-card organization-list">
                          <b-row>
                            <b-col class="py-md-3" md="12">
                              <b-list-group>
                                <b-list-group-item>
                                  <p>Уставные документы 1</p>
                                  <a href="">
                                    <b-img slot="img" class=" img-fluid" img-alt="Card image"
                                           src="../assets/images/download-doc.svg"></b-img>
                                  </a>
                                </b-list-group-item>
                                <b-list-group-item>
                                  <p>Реквизиты 1</p>
                                  <a href="">
                                    <b-img slot="img" class=" img-fluid" img-alt="Card image"
                                           src="../assets/images/download-doc.svg"></b-img>
                                  </a>
                                </b-list-group-item>
                                <b-list-group-item>
                                  <p>Деятельность компании за 2020 год</p>
                                  <a href="">
                                    <b-img slot="img" class=" img-fluid" img-alt="Card image"
                                           src="../assets/images/download-doc.svg"></b-img>
                                  </a>
                                </b-list-group-item>
                                <b-list-group-item>
                                  <p>Деятельность компании за 2021 год</p>
                                  <a href="">
                                    <b-img slot="img" class=" img-fluid" img-alt="Card image"
                                           src="../assets/images/download-doc.svg"></b-img>
                                  </a>
                                </b-list-group-item>
                              </b-list-group>
                            </b-col>
                          </b-row>
                        </b-card>
                      </b-col>
                    </b-row>
                  </b-tab>
                  <b-tab id="first-tab-organization" title="ООО “ГОЛДЕН-Н”">
                    <b-row>
                      <b-col class="pb-md-4" col md="12" cols="12">
                        <b-card class="mb-3 main-card card-organization">
                          <b-row>
                            <b-col md="12" cols="12">
                              <h3>ПРОДАЖА СЕРТИФИЦИРОВАННЫХ БРИЛЛИАНТОВ</h3>
                            </b-col>
                            <b-col class="align-self-md-center px-5" md="4">
                              <b-img slot="img" class=" img-fluid" img-alt="Card image"
                                     src="../assets/images/org2.png"></b-img>
                            </b-col>
                            <b-col xl="8" cols="12">
                              <p>Мы реализуем только натуральные камни, привезенные из Южной Азии. Наш товарооборот
                                составляет от 100 до 270 карат в месяц. Получаемая прибыль от 50% до 100%</p>
                              <p>В наших планах иметь розничные магазины во всех регионах России</p>
                            </b-col>
                          </b-row>
                        </b-card>
                      </b-col>
                      <b-col col md="12" cols="12">
                        <b-card class="mb-3 main-card organization-list">
                          <b-row>
                            <b-col class="py-md-3" md="12">
                              <b-list-group>
                                <b-list-group-item>
                                  <p>Уставные документы 1</p>
                                  <a href="">
                                    <b-img slot="img" class=" img-fluid" img-alt="Card image"
                                           src="../assets/images/download-doc.svg"></b-img>
                                  </a>
                                </b-list-group-item>
                                <b-list-group-item>
                                  <p>Реквизиты 1</p>
                                  <a href="">
                                    <b-img slot="img" class=" img-fluid" img-alt="Card image"
                                           src="../assets/images/download-doc.svg"></b-img>
                                  </a>
                                </b-list-group-item>
                                <b-list-group-item>
                                  <p>Деятельность компании за 2020 год</p>
                                  <a href="">
                                    <b-img slot="img" class=" img-fluid" img-alt="Card image"
                                           src="../assets/images/download-doc.svg"></b-img>
                                  </a>
                                </b-list-group-item>
                                <b-list-group-item>
                                  <p>Деятельность компании за 2021 год</p>
                                  <a href="">
                                    <b-img slot="img" class=" img-fluid" img-alt="Card image"
                                           src="../assets/images/download-doc.svg"></b-img>
                                  </a>
                                </b-list-group-item>
                              </b-list-group>
                            </b-col>
                          </b-row>
                        </b-card>
                      </b-col>
                    </b-row>
                  </b-tab>
                  <b-tab id="first-tab-organization" title="ООО “НЕЗАВИСИМОСТЬ АГРО”">
                    <b-row>
                      <b-col class="pb-md-4" col md="12" cols="12">
                        <b-card class="mb-3 main-card card-organization">
                          <b-row>
                            <b-col md="12">
                              <h3>ПРОИЗВОДСТВО ЭКОЛОГИЧЕСКИ ЧИСТЫХ МОЛОЧНЫХ ПРОДУКТОВ</h3>
                            </b-col>
                            <b-col class="align-self-md-center" md="4">
                              <b-img slot="img" class=" img-fluid" img-alt="Card image"
                                     src="../assets/images/org3.png"></b-img>
                            </b-col>
                            <b-col xl="8" cols="12">
                              <p>В данный момент нами приобретен и работает молочный завод в с. Дмитриевское
                                Оренбургской области. Завод располагает мощностями переработки молока - 20 тонн в
                                сутки</p>
                              <p>В наших планах, создание крупного холдинга по выпуску молочной продукции, состоящего из
                                20 заводов, находящихся в регионах с наибольшим поголовьем крупнорогатого скота</p>
                            </b-col>
                          </b-row>
                        </b-card>
                      </b-col>
                      <b-col col md="12" cols="12">
                        <b-card class="mb-3 main-card organization-list">
                          <b-row>
                            <b-col class="py-md-3" md="12">
                              <b-list-group>
                                <b-list-group-item>
                                  <p>Уставные документы 1</p>
                                  <a href="">
                                    <b-img slot="img" class=" img-fluid" img-alt="Card image"
                                           src="../assets/images/download-doc.svg"></b-img>
                                  </a>
                                </b-list-group-item>
                                <b-list-group-item>
                                  <p>Реквизиты 1</p>
                                  <a href="">
                                    <b-img slot="img" class=" img-fluid" img-alt="Card image"
                                           src="../assets/images/download-doc.svg"></b-img>
                                  </a>
                                </b-list-group-item>
                                <b-list-group-item>
                                  <p>Деятельность компании за 2020 год</p>
                                  <a href="">
                                    <b-img slot="img" class=" img-fluid" img-alt="Card image"
                                           src="../assets/images/download-doc.svg"></b-img>
                                  </a>
                                </b-list-group-item>
                                <b-list-group-item>
                                  <p>Деятельность компании за 2021 год</p>
                                  <a href="">
                                    <b-img slot="img" class=" img-fluid" img-alt="Card image"
                                           src="../assets/images/download-doc.svg"></b-img>
                                  </a>
                                </b-list-group-item>
                              </b-list-group>
                            </b-col>
                          </b-row>
                        </b-card>
                      </b-col>
                    </b-row>
                  </b-tab>
                </b-tabs>
              </b-card>
            </div>
          </b-col>

        </b-row>
      </div>
    </b-container>
  </div>
</template>

<script>
export default {
  name: "OurOrganizations"
}
</script>

<style scoped>

</style>