<template>
  <div>
    <nav id="sidebar">
      <div class="sidebar-header">
        <div class="firstbg__logo">
          <img alt="" src="../assets/images/logo.svg">
        </div>
      </div>
      <div class="sidebar-content">
        <ul class="list-unstyled components">
          <li>
            <router-link to="/dashboard/cabinet">Кабинет</router-link>
          </li>
          <li>
            <router-link to="/dashboard/financials">Финансы</router-link>
          </li>
          <li>
            <router-link to="/dashboard/verification">Верификация</router-link>
          </li>
          <li>
            <router-link to="/dashboard/myindexes">Мои индексы</router-link>
          </li>
          <li>
            <router-link to="/dashboard/allindexes">Все индексы</router-link>
          </li>
          <li>
            <router-link to="/dashboard/myteam">Моя команда</router-link>
          </li>
          <li>
            <router-link to="/dashboard/ourholding">О холдинге</router-link>
          </li>
          <li>
            <router-link to="/dashboard/organizations">Организации</router-link>
          </li>
          <li>
            <router-link to="/dashboard/shop">Магазин</router-link>
          </li>
          <li>
            <router-link to="/dashboard/exchange">Биржа</router-link>
          </li>
          <li>
            <router-link to="/dashboard/news">Новости</router-link>
          </li>
          <li>
            <router-link to="/dashboard/contacts">Контакты</router-link>
          </li>
        </ul>
      </div>


    </nav>
  </div>
</template>

<script>
export default {
  name: "SideBar"
}
</script>
