@import "vars/breakpoints";
@import "vars/fonts";
@import "vars/colors";
@import "vars/transitions";
@import "vars/buttons";
@import "blocks/cards";
@import "blocks/tables";

* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  font-weight: 400;
  * {
    box-sizing: border-box;
    font-family: $main-font;
    font-weight: 400;
    font-style: normal;
  }
}

/* Customize website's scrollbar like Mac OS
Not supports in Firefox and IE */

body::-webkit-scrollbar       {background-color:#fff; width:16px}
body::-webkit-scrollbar-track {background-color:#fff}
body::-webkit-scrollbar-thumb {background-color:#babac0;border-radius:16px;border:4px solid #fff}


.navbar {
  position: fixed;
  align-items: flex-end;
  height: 100px;
  button {
    background-color: transparent !important;
    border: 0;
    &:focus, :active{
      outline: none !important;
      box-shadow: none;
    }
  }
}

#login-modal, #signup-modal{
  .modal-content {
    min-width: 530px;
    border-radius: 15px;
    background-color: #047884;
    .modal-header {
      border-bottom: 0;
      padding-bottom: 0;
      .modal-title {
        padding: 45px 10px 0;
        margin-bottom: 45px;
        font-weight: bold;
        font-size: 24px;
        line-height: 176%;
        color: #FFFFFF;
      }
      .close {
        opacity: 1;
        width: 24px !important;
        height: 24px !important;
        font-size: 32px;
        line-height: 0.5;
        font-weight: 300;
        padding: 2px 4px;
        //padding-top: 0;
        //margin-top: 0;
        margin-top: 4px;
        margin-right: 4px;
        border-radius: 18px;
        color: #FFFFFF;
        transition-duration: 0.3s;
        transition-property: transform;
        &:hover{
          background-color: #FFFFFF;
          transform: rotate(90deg);
          color: #047884;
        }
      }
    }
    .modal-body {
      background-color: #FFFFFF;
      width: 88.5%;
      margin: 0 auto;
      border-radius: 15px;
      .form-group {
        label {
          font-weight: 500;
          font-size: 14px;
          line-height: 115.2%;
          color: #047884;
          margin-bottom: 10px;
        }
        input {
          border: 1px solid rgba(4, 120, 132, 0.6);
          background-color: #fff;
          box-sizing: border-box;
          filter: drop-shadow(0px 0px 80px rgba(95, 95, 95, 0.2));
          border-radius: 10px;
          outline: none;
          position: relative;
          width: 100%;
          height: 60px;
          padding: 10px 45px 10px 30px;
          font-weight: 500;
          font-size: 16px;
          line-height: 176%;
          color: #000000;
          &:focus {
            border-width: 2px;
            box-shadow: none;
          }
        }
      }
    }
    .modal-footer {
      border-top: 0;
    }
  }

}

.wrapper {
  overflow-x: hidden;
  //position: relative;
  width: 100vw;
}

/*-------------------------firstbg------------------------*/

.firstbg {
  background-color: #000;
  background-image: url(../images/first.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  overflow-y: auto;
  padding: 40px;
  &__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    max-width: 1310px;
    width: 100%;
    height: 100%;
  }
  &__left {
    flex-basis: 54.2%;
  }
  &__leftinside {
    background: rgba(4, 120, 132, 0.5);
    backdrop-filter: blur(15px);
    padding: 40px 30px 40px 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
  }
  &__logo {}
  &__descr {
    font-weight: 300;
    font-size: 14px;
    line-height: 168%;
    text-transform: uppercase;
    color: #FFFFFF;
  }
  &__title {
    font-weight: bold;
    font-size: 72px;
    line-height: 1.22;
    color: #FFFFFF;
    span {
      color: #53F1FF;
      font-weight: 700;
    }
  }
  &__list {
    ul {
      padding-left: 0;
      li {
        position: relative;
        padding-left: 15px;
        font-weight: 300;
        font-size: 18px;
        line-height: 176%;
        color: #FFFFFF;
        list-style-type: none;
        &:before {
          content: "";
          display: block;
          width: 4px;
          height: 4px;
          background: #17ECFF;
          position: absolute;
          left: 0;
          top: 13px;
          border-radius: 50%;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          -ms-border-radius: 50%;
          -o-border-radius: 50%;
        }
      }
    }

  }
  &__btn {
    max-width: 280px;
    margin-bottom: 60px;

      .gradbtn {
        text-decoration: none;
        border-radius: 34px 0;
        border: 0;
        background: linear-gradient(104.18deg, #19E5F8 7.27%, #047884 60.08%);
        box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.14);
        height: 64px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        font-weight: bold;
        font-size: 16px;
        line-height: 1.2;
        color: #FFFFFF !important;
        cursor: pointer;
        //border-radius: 10px;
        transition: all 0.2s ease-in-out;
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        -ms-transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out;
        background-size: 200% auto;
        outline: none;
        background-position: right center;
        background-size: 150% auto;
        &:hover {
          background-position: left center;
        }
    }
  }
  &__leftbottom {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  &__social {
    flex-basis: 50%;
    ul {
      display: flex;
      align-items: center;
      list-style-type: none;
      padding-left: 0;
    }
    a {
      display: flex;
      margin-right: 7px;
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
      align-items: center;
      justify-content: center;
      width: 21.55px;
      height: 21.55px;
      border: 1px solid #4286A4;
      path {
        transition: all 0.3s ease-in-out;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
      }
      &:hover {
        border-color: #fff;
        path {
          fill: #fff;
        }
      }
    }
  }
  &__email {
    flex-basis: 50%;
    text-align: right;
    a {
      font-size: 14px;
      line-height: 176%;
      color: #4286A4;
      &:hover {
        color: #fff;
      }
    }
  }
  &__right {
    padding-top: 35px;
    flex-basis: 41.2%;
    display: flex;
    height: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: column-reverse;
    align-items: normal;
  }
  &__nav {
    ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-end;
      li {
        color: rgba(255, 255, 255, 0.5);
        transition: all 0.3s ease-in-out;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        cursor: pointer;
        font-weight: 500;
        font-size: 14px;
        line-height: 115.2%;
        letter-spacing: -0.025em;
        position: relative;
        &.active {
          color: #46CBD7;
          margin-right: 25px;
          position: relative;
          &:hover {
            &::before {
              opacity: 0;
            }
          }
          &:before {
            content: "";
            border-radius: 50%;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
            width: 8px;
            height: 8px;
            transition: all 0.3s ease-in-out;
            -webkit-transition: all 0.3s ease-in-out;
            -moz-transition: all 0.3s ease-in-out;
            -ms-transition: all 0.3s ease-in-out;
            -o-transition: all 0.3s ease-in-out;
            display: block;
            background: #46CBD7;
            position: absolute;
            top: -15px;
            left: calc(50% - 4px);
          }
        }
        &:hover {
          color: #fff;
        }
      }
    }
  }
  &__rightbottom {}
  &__bottomrow {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 35px;
  }
  &__bottomitem {
    text-align: center;
    flex-basis: calc(100% / 3);
    letter-spacing: -0.045em;
    color: rgba(255, 255, 255, 0.9);
  }
  &__bottomitemtop {
    font-weight: 300;
    font-size: 36px;
    line-height: 115.2%;
    text-align: center;
    letter-spacing: -0.045em;
    color: rgba(255, 255, 255, 0.9);
    margin-bottom: 5px;
    span {
      font-size: 16px;
      line-height: 115.2%;
    }
  }
  &__bottomitembottom {
    font-weight: 300;
    font-size: 16px;
    line-height: 139%;
    text-align: center;
    letter-spacing: -0.045em;
    color: #FFFFFF;
  }
}


/*-------------------------sideBar------------------------*/

#sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 46px;
  .sidebar-header {
    width: 225px;
    text-align: center;
  }
  .sidebar-content {
    margin-top: 20px;
    width: 225px;
    height: 84vh;
    background-color: #047884;
    border-radius: 15px;
    background-image: url(../images/bg_menu.svg);
    background-position: bottom left;
    background-repeat: no-repeat;
    ul {
      padding-left: 50px;
      padding-top: 40px;
      li {
        padding-bottom: 20px;
        a {
          font-weight: 500;
          font-size: 16px;
          color: #FFFFFF;
          line-height: 115.2%;
          &.router-link-active {
            color: #19E5F8;
            font-weight: bold;
          }
        }
      }
    }
  }
  @media (max-width: $screen-1199) {
    padding-top: 4vh;
    .sidebar-header {
      text-align: center;
    }
    .sidebar-content {
      margin-top: 2vh;
      width: 186px !important;
      ul {
        padding-left: 40px;
        li {
          padding-bottom: 14px;
          a {
            font-size: 14px;
          }
        }
      }
    }
  }
  @media (max-width: $screen-767) {
    display: none;
  }

}


.dash-header {
  height: 100px;
  color: #FFFFFF;
  min-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  .dash-header-accounts {
    span {
      font-size: 14px;
      font-weight: 500;
    }
    p {
      font-size: 18px;
      font-weight: bold;
      margin-bottom: 0;
    }
    .left-acc {
      border-right: 3px solid #0CBFD1;
    }
    .left-acc, .right-acc {
      max-width: 45%;
    }
  }
  @media (max-width: $screen-1199) {
    justify-content: center;
    .dash-header-accounts {
      span {
        font-size: 12px;
      }
      p {
        font-size: 14px;
      }
      .left-acc {
        border-right: 3px solid #0CBFD1;
      }
      .left-acc, .right-acc {
        max-width: 40%;
        word-wrap: normal;
        span {

        }
      }
    }
  }
  @media (max-width: $screen-767) {
    .left-acc {
      text-align: right;
    }
  }
}



/*-------------------------Dashboard change content------------------------*/

//cabinet

#cabinet, #myfin, #verification, #myindexes, #allindexes, #myteam, #ourholding, #ourorganization, #ourshop, #ourexchange, #ournews, #ourcontacts {
  overflow: hidden;
  margin-top: 4vh;
  height: 80vh;
  border-radius: 15px;
  background-color: $white-primary;
  padding-top: 50px;
  .container-fluid {
    padding: 0;
  }
  //padding-left: 45px;
  //padding-right: 45px;
  .content {
    #dash-head-text {
      font-size: 32px;
      font-weight: bold;
      line-height: 1.15;
      color: $green-primary;
      margin-bottom: 26px;
      padding-left: 44px;
      padding-right: 44px;
    }
    .dash-head-text {
      font-size: 32px;
      font-weight: bold;
      line-height: 1.15;
      color: $green-primary;
      margin-bottom: 34px;
      padding-left: 44px;
      padding-right: 44px;
    }

    // wrapper for some components
    .component-wrapper {
      display: flex; overflow: hidden; position: relative;
      .wrapper {
        overflow-y: auto;
        height: 80vh;
        padding-left: 44px;
        padding-right: 44px;
        // Apple like scroll bar
        &::-webkit-scrollbar       {background-color: transparent !important; width: 16px}
        &::-webkit-scrollbar-track {display: none !important}
        &::-webkit-scrollbar-thumb {background-color: #bdc3c7; border-radius: 16px; border: 5px solid $white-primary}
        &::-webkit-scrollbar-thumb:hover {background-color: #919191 !important; border: 5px solid $white-primary}
        /* set button(top and bottom of the scrollbar) */
        &::-webkit-scrollbar-button {display:none}
      }
      @media (max-width: $screen-1199) {
        .wrapper {
          padding-left: 35px;
          padding-right: 35px;
        }
      }
    }

    .head-card-component {
      .card {
        background-color: $white-primary;
        border: none;
        .tabs {
          .card-header {
            background-color: $white-primary;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            align-items: flex-start;
            padding-top: 0;
            padding-left: 44px;
            padding-right: 44px;
            height: 51px;
            border: none;

            ul {

              &.card-header-tabs {
                margin-right: 0;
                margin-left: 0;
              }
            }
          }
          .tab-content {
            overflow: hidden;
            position: relative;
            .tab-pane {
              overflow-y: auto;
              height: calc(80vh - 163px);
              padding-left: 44px;
              padding-right: 44px;

              // Apple like scroll bar
              &::-webkit-scrollbar       {background-color: transparent !important; width: 16px}
              &::-webkit-scrollbar-track {display: none !important}
              &::-webkit-scrollbar-thumb {background-color: #bdc3c7; border-radius: 16px; border: 5px solid $white-primary}
              &::-webkit-scrollbar-thumb:hover {background-color: #919191 !important; border: 5px solid $white-primary}
              /* set button(top and bottom of the scrollbar) */
              &::-webkit-scrollbar-button {display:none}
              //background-color: $white-primary;
            }

          }
        }
      }
    }
  }
  @media (max-width: $screen-1199) {
    margin-top: 0vh;
    padding-top: 30px;
    .dash-head-text {
      font-size: 24px !important;
      margin-bottom: 23px !important;
    }
    .head-card-component {
      .card {
        .tabs {
          .card-header {
            height: 100px !important;
            padding-bottom: 0;
            ul {

              &.card-header-tabs {
                li {

                  width: 50%;
                  margin-bottom: 16px;
                  text-align: center;
                  a {
                    font-size: 14px;
                  }
                }
              }
            }
          }
          .tab-content {

          }
        }
      }
    }
  }
  @media (max-width: $screen-767) {
    .head-card-component {
      .card {
        .tabs {
          .card-header {
            height: 220px !important;
            //padding-bottom: 0;
            ul {

              &.card-header-tabs {
                li {

                  width: 100%;
                  margin-bottom: 16px;
                  text-align: center;
                  a {
                    font-size: 14px;
                  }
                }
              }
            }
          }
          .tab-content {

          }
        }
      }
    }
  }
}

#cabinet {
  .cabinet-container {
    #dash-head-text {
      padding-left: 20px;
      font-size: 32px;
      font-weight: bold;
      line-height: 1.15;
      color: $green-primary !important;
    }
  }

  .head-info-block {
       //max-width: 90%;
       margin: 0 auto;
       border-radius: 15px;
       padding-top: 18px;
       padding-left: 25px;
       background-color: #FFFFFF;
       box-shadow: 0 4px 40px rgba(0, 0, 0, .15);

       h4 {
         font-weight: 300;
         font-size: 14px;
       }
       p {
         font-weight: 600;
         font-size: 16px;
       }
    #personal-ref {
      padding-top: 20px;
      margin-bottom: 21px;
      padding-left: 15px;
      span {
        font-size: 14px;
        font-weight: 300;
        color: #0A1425;
      }
      a {
        padding-left: 16px;
        font-size: 16px;
        font-weight: 600;
        color: #0A1425;
      }
    }
  }
}

/*-------------------------graf------------------------*/

.graf {
  width: 100%;
  margin-top: 50px;
  padding-bottom: 65px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  &__left {
    flex-basis: 43%;
  }
  &__line {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    flex-wrap: wrap;
  }
  &__title {
    font-weight: 300;
    font-size: 16px;
    line-height: 115.2%;
    color: #0A1425;
    flex-basis: 45%;
  }
  &__value {
    flex-basis: 55%;
    text-align: right;
    font-weight: 600;
    font-size: 18px;
    line-height: 115.2%;
    text-align: right;
    letter-spacing: -0.025em;
    color: #0A1425;
  }
  &__btns {
    padding-top: 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

  }
  &__btnitem {
    flex-basis: 48%;
    a,
    a:hover,
    a:focus,
    a:visited {
      outline: none;
      text-decoration: none;
      color: inherit;
      transition: all 0.3s ease;
    }
  }
  &__right {
    flex-basis: 46%;
  }
  &__righttop {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-left: 40px;
    padding-bottom: 20px;
  }
  &__selectitem {
    font-size: 12px;
    position: relative;
    &:before {
      content: "";
      background-image: url(../images/arrow_select.svg);
      background-repeat: no-repeat;
      display: block;
      position: absolute;
      right: 0;
      top: 6px;
      z-index: 1;
      width: 9px;
      height: 6px;
    }
  }
  &__select {
    width: 90px;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    outline: none;
    border: 0;
    background: none;
    color: #4A5063;
  }
  &__visual {}
}

.gradbtn {
  text-decoration: none;
  border: 0;
  background: linear-gradient(104.18deg, #19E5F8 7.27%, #047884 60.08%);
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.14);
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.2;
  color: #FFFFFF !important;
  cursor: pointer;
  border-radius: 10px;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  background-size: 200% auto;
  outline: none;
  background-position: right center;
  background-size: 150% auto;
    &:hover {
      background-position: left center;
    }
  &__nobg {
    color: #047884 !important;
    border: 1px solid #047884;
    background: transparent;
    box-shadow: none;
    &:hover {
      background: #047884;
      color: #fff !important;
    }
  }
}

#myfin {
  .myfin-container {
    .tab-content {
      .charge-tab {
        @media (max-width: $screen-1199) {
          .card {
            &.main-card {
              height: 190px;
              .row {
                //flex-wrap: nowrap;
                .card-body {
                  word-wrap: normal;
                  padding-left: 0;
                  padding-right: 0;
                  h3 {
                    font-size: 16px;
                  }
                  h4 {
                    font-size: 14px;
                  }
                }
              }
            }
            &.card-3 {
              display: none;
            }
            &.card-4 {
              h3 {
                font-size: 16px;
              }
              h4 {
                font-size: 14px;
                margin-bottom: 1rem;
              }
              .form-control {
                height: 56px !important;
              }
              button {
                height: 56px !important;
              }
            }

          }
        }
        @media (max-width: $screen-767) {
          .card {
            &.card-4 {
              height: 300px;
              margin-bottom: 200px !important;
              #input-group-tel-1 {
                width: 100%;
                padding-right: 0;
              }
              button {
                margin-top: 20px;
                width: 100%;
              }
            }
          }
        }
        @media (max-width: $screen-575) {
          &.tab-pane {
            padding-left: 12px !important;
            padding-right: 12px !important;
          }
          .card {
            &.main-card {
              height: 120px;
              margin-bottom: 10px !important;
              .row {
                //flex-wrap: nowrap;
                .card-body {
                  //padding-top: 5px;
                  padding: 0.25rem;
                }
              }
            }
            &.card-2 {
              margin-bottom: 28px !important;
            }
            &.card-4 {
              height: 300px;
              margin-bottom: 150px !important;
              button {
                margin-top: 0;
              }
            }
          }
        }
      }
      .history-tab {
        form {
          .align-items-end {
            align-items: flex-end;
          }
        }
        #input-group-1 {
          width: calc(100% / 12 * 6);
          label {
            font-size: 14px;
            font-weight: 500;
            color: $green-primary;
            margin-bottom: 6px;
          }
          div {
            width: calc(100% - 10px) ;
            padding-right: 10px;
            select {
              width: 100%;
              height: 60px;
              border: 1px solid rgba($green-primary, 0.6) ;
              border-radius: 10px;
              font-weight: 500;
              &:focus {
                outline-style: none;
                box-shadow: none;
              }
            }
          }
        }
        #input-group-2 {
          width: calc(100% / 12 * 4);
          label {
            font-size: 14px;
            font-weight: 500;
            color: $green-primary;
            margin-bottom: 6px;
          }
          div {
            width: calc(100% - 10px) ;
            #datepicker__outer_{
              border: 1px solid rgba($green-primary, 0.6);
              border-radius: 10px;
            }
            .b-calendar .b-calendar-grid-body .col[data-date] .btn {
              color: $green-primary;
              border: none;
              box-shadow: none;
            }
            .btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
              color: #fff !important;
              background-color: $green-primary;
              border: none;
              box-shadow: none;
            }
            .form-control {
              height: 60px;
              font-weight: 500;
              //padding-right: 0;
              &:focus {
                outline-style: none;
                box-shadow: none;
              }
              .b-calendar-header {
                display: none;
              }
              footer {
                display: none;
              }
              #datepicker__value_ {
                padding-top: 17px;
              }
            }
          }
        }
        button {
          &.history-search-btn {
            width: calc(100% / 12 * 2);
          }
          &#datepicker {
            color: $green-primary;
          }
        }
        @media (max-width: $screen-1199) {
          form {
            .align-items-end {
              align-items: flex-end;
            }
            #input-group-1, #input-group-2 {
              label {
                font-size: 12px;
              }

              select {
                height: 56px;
              }
              .dropdown {
                height: 56px;
              }

            }
            button {
              height: 56px;
            }
          }
          .card-5 {
            p {
              font-size: 12px;
            }
            span {
              font-size: 16px;
            }
          }
          table {
            thead {
              tr th{
                vertical-align: middle;
                font-size: 12px;
                font-weight: 300;
              }
            }
            tbody {
              tr td {
                font-size: 14px;
                font-weight: 400;
              }
            }
          }
        }
        @media (max-width: $screen-767) {
          #input-group-1 {
            width: 100%;
          }
          #input-group-2 {
            width: calc(100% / 12 * 8);
          }
          button {
            &.history-search-btn {
              width: calc(100% / 12 * 3.5);
            }
          }
        }
        @media (max-width: $screen-575) {
            &.tab-pane {
              padding-left: 12px !important;
              padding-right: 12px !important;
              button {
                &.history-search-btn {
                  width: calc(100% / 12 * 3.5);
                  margin-bottom: 12px
                }
              }
            }

          }

      }
      .incoming-tab {
        @media (max-width: $screen-1199) {
          .card-incoming {
            h3 {
              font-size: 14px;
            }
            h4 {
              font-size: 16px;
            }
          }
          table {
            thead {
              tr th{
                vertical-align: middle;
                font-size: 12px;
                font-weight: 300;
              }
            }
            tbody {
              tr td {
                font-size: 14px;
                font-weight: 400;
              }
            }
          }
        }
        @media (max-width: $screen-767) {
          &.tab-pane {
            padding-left: 12px !important;
            padding-right: 12px !important;
          }
          .card-incoming {
            .card-body {
              padding: 16px 12px;
              .row {
                flex-direction: row-reverse;
              }
            }
          }
        }
      }
      .withdrawal-tab {
        #input-group-withdrawal-1 {
          width: calc(100% / 12 * 4);
          label {
            font-size: 14px;
            font-weight: 500;
            color: $green-primary;
            margin-bottom: 6px;
          }
          a {
            padding-top: 10px;
            font-size: 16px;
            font-weight: 500;
            color: $green-primary;
          }
          div {
            width: calc(100% - 1px) ;
            padding-right: 10px;
            .form-control {
              width: 100%;
              height: 60px;
              border: 1px solid rgba($green-primary, 0.6) ;
              border-radius: 10px;
              font-weight: 500;
              &:focus {
                outline-style: none;
                box-shadow: none;
              }
            }
          }
        }
        #input-group-withdrawal-2 {
          width: calc(100% / 12 * 5);
          label {
            font-size: 14px;
            font-weight: 500;
            color: $green-primary;
            margin-bottom: 6px;
          }
          a {
            padding-top: 10px;
            font-size: 16px;
            font-weight: 500;
            color: $green-primary;
          }
          div {
            width: calc(100% - 1px) ;
            padding-right: 10px;
            select {
              width: 100%;
              height: 60px;
              border: 1px solid rgba($green-primary, 0.6) ;
              border-radius: 10px;
              font-weight: 500;
              &:focus {
                outline-style: none;
                box-shadow: none;
              }
            }
          }
        }
        button {
          &.withdrawal-btn {
            width: calc(100% / 12 * 3);
          }
        }
        @media (max-width: $screen-1199) {
          .card-withdrawal {
            h3 { font-size: 14px; margin-right: 8px; }
            h4 { font-size: 16px }
            p { font-size: 12px }
          }
          #input-group-withdrawal-1, #input-group-withdrawal-2 {
            .form-control {
              height: 56px !important;
            }
            #input-carddetails {
              height: 56px;
            }
            label {
              font-size: 12px;
            }
            a {
              font-size: 12px;
            }
          }
          button {
            height: 56px;
          }
          .card-4 {
            h3 {font-size: 16px};
            h4 {font-size: 14px}
            #input-tel-2 {
              height: 56px;
            }
          }
        }
        @media (max-width: $screen-767) {
          &.tab-pane {
            padding-left: 12px !important;
            padding-right: 12px !important;
          }
          .card-withdrawal {
            .card-body {
              padding: 16px 12px;
              .row {
                flex-direction: row-reverse;
              }
            }
          }
        }
      }
    }
    .card-1, .card-2 {

      &:hover {
        background-color: #89CED3;
        box-shadow: 0 4px 80px 0 rgba($green-primary, .4);
        h3 {
          color: white;
        }
      }
    }
    .card-1 {
      height: 230px;
      margin-bottom: 32px !important;
    }
    .card-2 {
      height: 230px;
      margin-bottom: 32px !important;
    }
    .card-3 {
      height: 177px;
      margin-bottom: 32px !important;
      box-shadow: 0 4px 50px 0 rgba(4, 120, 132, .28);
    }
    .card-4 {
      height: 177px;
      margin-bottom: 32px !important;
      background-color: #B6D8DB !important;
      box-shadow: 0 4px 50px 0 rgba(4, 120, 132, .28);
      h4 {
        font-size: 16px;
        font-weight: 300;
        color: $dark-text;
        line-height: 1.76;
      }
      #input-group-tel-1 {
        width: calc(100% / 12 * 6);
        padding-right: 10px;
        div {
          width: 100%;
          .form-control {
            width: 100%;
            height: 60px;
            border: 1px solid rgba($green-primary, 0.6) ;
            border-radius: 10px;
            font-weight: 500;
            &:focus {
              outline-style: none;
              box-shadow: none;
            }
          }
        }
      }
      #input-group-tel-2 {
        @extend #input-group-tel-1
      }
      button {
        &.callme-btn {
          width: calc(100% / 12 * 5);
        }
      }
    }
    .card-5 {
      margin-top: 32px;
      //height: 82px;
      background-color: #B6D8DB !important;
      box-shadow: 0 4px 50px 0 rgba(4, 120, 132, .28);
      .card-body {
        padding-top: 20px;
        p {
          margin: 0;
          font-size: 16px;
          font-weight: 500;
          line-height: 1.15;
          color: rgba($green-primary, 0.6);
        }
        span {
          font-size: 20px;
          font-weight: bold;
          line-height: 1.15;
          color: $green-primary;
        }
      }
    }
    .card-incoming {
      h3 {
        font-size: 16px;
        font-weight: 500;
      }
      h4 {
        font-size: 20px;
        font-weight: bold;
        color: $green-primary;
      }
    }
    .card-withdrawal {
      h3 {
        font-size: 16px;
        font-weight: 500;
        margin-right: 20px;
      }
      h4 {
        font-size: 20px;
        font-weight: bold;
        color: $green-primary;

      }
      p {
        font-size: 14px;
        font-weight: 500;
        color: rgba($green-primary, .4);
      }
    }
  }
  @media (max-width: $screen-575) {
    .myfin-container {
      .card-header {
        padding: 0 12px 0 !important;
      }
    }
  }
}

#myindexes {
  padding-top: 0;
  .dash-head-text {
    padding-top: 50px;
    padding-left: 0 !important;
  }
  .indexes-card {
    flex-wrap: wrap;
    box-shadow: 0 0 30px rgba(4, 120, 132, .15);
    background-color: $green-cards;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    p {
      color: rgba($green-primary, .6);
      font-size: 14px;
      line-height: 1.15;
      font-weight: 300;
      margin-bottom: 5px;
    }
    h3 {
      color: $green-primary;
      font-size: 18px;
      line-height: 1.15;
      font-weight: bold;
      margin-bottom: 0;
    }
  }
  img {
    &.myindexes-top-img {
      position: absolute;
      top: -100px;
      right: 20px
    }
  }
  .form-group {

    #checkbox-group-myindexes {
      display: flex;
      align-items: center;
      flex-direction: row;
      flex-wrap: nowrap;
      color: rgba($green-primary, .8);
      font-size: 14px;
      line-height: 1.15;
      font-weight: 300;
      label {
        padding-top: 3px;
      }
    }
  }
  @media (max-width: $screen-1199) {
    img {
      display: none;
    }
    .indexes-card {
      p {font-size: 12px}
      h3 {font-size: 16px}
    }
    #checkbox-group-myindexes {
      flex-direction: column !important;
      align-items: flex-end !important;
      label {font-size: 12px;}
    }
  }
  table {
    thead {
      tr th{
        vertical-align: middle;
        font-size: 12px;
        font-weight: 300;
      }
    }
    tbody {
      tr td {
        font-size: 14px;
        font-weight: 400;
      }
    }
  }
}

#allindexes {
    padding-top: 0;
  .dash-head-text {
    padding-top: 50px;
    padding-left: 0 !important;
  }
  .allindexes-left-card {
    flex-wrap: wrap;
    box-shadow: 0 4px 40px rgba(4, 120, 132, .15);
    background-color: $white-normal;
    border-radius: 15px;
    padding: 26px;
    margin-bottom: 20px;

    .indexB1text {
      width: calc(100% / 12 * 6);
      text-align: left;
      h3 {
        color: $green-primary;
        font-size: 20px;
        line-height: 1.76;
        font-weight: 600;
      }
      h2 {
        color: $green-primary;
        font-size: 64px;
        line-height: 1;
        font-weight: bold;
      }
    }
    .indexB1image {
      width: calc(100% / 12 * 6);
      text-align: center;
    }
    .indexB1BottomText {
      width: calc(100% / 12 * 6);
      padding-right: 50px;
      .percentText {
        margin-bottom: 5px;
        p {
          color: $dark-text;
          font-size: 14px;
          line-height: 1.5;
          font-weight: 300;
          margin-bottom: 5px;
        }
        span {
          color: $dark-text;
          font-size: 16px;
          line-height: 1.15;
          font-weight: 600;
        }
      }

    }
    .indexB1Btn {
      width: calc(100% / 12 * 5.5);
      text-align: center;
    }
  }
  .indexList {
    border: none;

    .list-group-item {
      display: flex;
      align-items: center;

      font-size: 16px;
      line-height: 1.76;
      font-weight: 300;
      padding: 0 1.25rem;
      background-color: transparent;
      border: none;

      //list dots/markers
      &:before {
        /* Set content to an empty string */
        content: "";

        background-color: #98C6CB;
        /* Create the box and center its contents */
        width: 7px;
        height: 7px;
        border-radius: 50%;
        margin-right: 20px;
        z-index: 5;
      }

      //connected line between dots
      &:after {
        content: "";
        background-color: rgba($green-primary, 0.3);
        position: absolute;
        left: 23px;
        top: 0;
        width: 1px;
        height: 28px;
      }
    }
  }
  .product-index-card {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    //align-items: center;
    background-color: $white-normal;
    box-shadow: 0 4px 40px rgba(4, 120, 132, .15);
    border-radius: 15px;
    //padding: 30px 24px;
    padding: 30px 30px;
    margin-bottom: 20px;
    text-align: center;
    &:hover {
      background-color: $green-secondary;
      h3 {
        color: $white-primary;
      }
    }
    h3 {
      font-size: 20px;
      line-height: 1.76;
      font-weight: 600;
      color: $green-primary;
      margin-bottom: 20px;
    }
    img {
      align-self: center;
      height: 130px;
      width: auto;
      margin-bottom: 30px;
    }
    .stock-card-text {
      justify-content: space-between;
      align-items: center;
      color: $dark-text;
      margin-bottom: 20px;
      p {
        text-align: start;
        font-size: 14px;
        line-height: 1.76;
        font-weight: 300;
        margin-bottom: 0;

      }
      span {
        font-size: 16px;
        line-height: 1.15;
        font-weight: 600;
        text-align: end;
      }
    }
    .stock-card-button {
      align-self: center;
      width: 80%;
      margin-top: 10px;
    }
  }
  @media (max-width: $screen-1199) {
    .allindexes-left-card {
      .index-b1-col {
        align-items: flex-end;
        .indexB1text {
          h3 {font-size: 24px; width: 150%}
          h2 {font-size: 46px}

        }
        .indexB1image {
        }
      }
      .indexB1BottomText {
        width: 100%;
        padding-right: 0;
        margin-bottom: 15px;
        .percentText {
          p {font-size: 12px}
          span {font-size: 14px}
        }

      }
      .indexB1Btn {
        width: 100%;
        .indexB1-btn {
          height: 56px;
        }
      }
    }
    .allindexes-right-card {
      .indexList {
        .list-group-item {
          font-size: 14px;
          line-height: 1.76;
          font-weight: 300;
          padding: 0 1.25rem;
          width: 150%;
        }
      }
    }
    .product-index-card {
        flex-direction: row;
        padding-bottom: 15px;
      .tablet-mobile-view {
        display: flex;
        flex-basis: 50%;
        flex-direction: column;
        .stock-card-text {
          p {
            flex-grow: 1;
            font-size: 12px;
            br {
              display: none;
            }
          }
          span {
            font-size: 14px;
          }
        }
        button {
          height: 56px;
        }
      }
    }
  }
}

#myteam {
  .myteam-send-mail-card {
    background-color: $green-cards !important;
    box-shadow: 0 4px 50px rgba($green-cards, .28);
    #input-group-myteam {
      width: calc(100% / 12 * 6);
      padding-right: 10px;
      div {
        width: 100%;
        .form-control {
          width: 100%;
          height: 60px;
          border: 1px solid rgba($green-primary, 0.6) ;
          border-radius: 10px;
          font-weight: 500;
          &:focus {
            outline-style: none;
            box-shadow: none;
          }
        }
      }
    }
    h4 {
      font-size: 14px;
      font-weight: 300;
      color: $dark-text;
      margin-bottom: 20px;
    }
    h3 {
      font-weight: 600;
      &.link-text {
        font-size: 16px;
        font-weight: 600;
        color: $dark-text;
      }
    }
    button {
      &.callme-btn {
        width: calc(100% / 12 * 5);
      }
    }
  }
  @media (max-width: $screen-1199) {
    .myteam-send-mail-card {
      h3 {
        font-size: 16px;
        margin-bottom: 12px;
        &.link-text {
          margin-bottom: 20px !important;
        }
      }
      h4 {
        margin-bottom: 10px;
      }
      img {
        margin-bottom: 20px;
      }
      form {
        input {
          height: 56px !important;
        }
        button {
          height: 56px;
        }
      }
    }
    table {
      thead {
        tr th{
          vertical-align: middle;
          font-size: 12px;
          font-weight: 300;
        }
      }
      tbody {
        tr td {
          font-size: 14px;
          font-weight: 400;
        }
      }
    }
  }
}

#ourholding {
  .aboutus-content {
    color: $black-primary;
    font-size: 16px;
    line-height: 1.76;
    p {
      font-weight: 300;
    }
    span {
      font-weight: 500;
    }
  }
  .mission-content {
    p {
      color: $black-primary;
      font-size: 16px;
      line-height: 1.76;
      font-weight: 300;
      span {
        font-weight: 500;
      }
    }
    .hold-mission-card {
      box-shadow: 0 0 30px rgba(4, 120, 132, .28);
      background-color: $white-normal;
      border-radius: 10px;
      padding: 16px 30px;
      margin-bottom: 20px;

      p {
        color: $black-primary;
        font-size: 16px;
        line-height: 1.76;
        font-weight: 300;
        margin-bottom: 0;
      }
    }
  }

  .howwework-content {
    p {
      color: $black-primary;
      font-size: 16px;
      line-height: 1.76;
      font-weight: 300;
      span {
        font-weight: 500;
      }
    }
    h3 {
      font-size: 16px;
      line-height: 1.76;
      font-weight: 500;
      margin-bottom: 24px;
    }
    .hold-howwework-card {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      align-items: center;
      box-shadow: 0 0 40px rgba(4, 120, 132, .15);
      background-color: $white-normal;
      border-radius: 15px;
      padding: 35px 15px;
      h1 {
        font-size: 48px;
        line-height: 1.76;
        font-weight: bold;
        color: $green-primary;
      }
      p {
        font-size: 14px;
        font-weight: 300;
      }
      img {
        height: 120px;
      }
      h2 {
        text-align: center;
        padding-top: 18px;
        font-size: 20px;
        line-height: 1.76;
        font-weight: 600;
        color: $green-primary;
        span {
          font-weight: 500;
          font-size: 15px;
        }

      }
    }
  }
  .ourteam-content {
    .hold-ourteam-card {
      background-color: $white-primary;
      box-shadow: 0 0 30px rgba(4, 120, 132, .28);
      border-radius: 10px;
      padding: 28px;
      .gray-rect {
        background-color: #CDCDCD;
        box-shadow: 0 0 40px rgba(4, 120, 132, .15);
        border-radius: 10px;
        width: 80%;
        height: 275px;
      }
      p {
        padding-top: 18px;
        color: $black-primary;
        font-size: 14px;
        line-height: 1.76;
        font-weight: 300;
      }
      span {
        font-size: 16px;
        line-height: 1.76;
        font-weight: 500;
      }
    }
  }
  .ouroffices-content {
    .hold-ouroffices-card {
      @extend .ourcontacts-card
    }
    .ouroffices-call-card {
      @extend .questions-call-card
    }
  }
  @media (max-width: $screen-1199) {
    .dash-head-text {
      padding-left: 35px !important;
    }
    .tab-pane {
      padding-left: 35px !important;
      padding-right: 35px !important;
    }
    .card-header {
      padding-left: 35px !important;
      padding-right: 35px !important;
      ul li {
        &:nth-child(1), &:nth-child(2) {
          width: 20% !important;
        }
        &:nth-child(3), &:nth-child(4), &:nth-child(5) {
          width: 40% !important;
        }
      }
    }
    .aboutus-content {
      p { font-size: 14px}
      span { font-size: 14px; margin-bottom: 10px !important}
    }
    .mission-content {
      p {
        font-size: 14px;
        span {
          font-size: 14px;
        }
      }
      .hold-mission-card {
        p {
          font-size: 14px;
        }
      }
    }
    .howwework-content {
      p {
        font-size: 14px;
        span {
          font-size: 14px;
        }
      }
      h3 { font-size: 14px; }
      .hold-howwework-card {
        padding: 15px 20px;
        h1 {font-size: 36px}
        p { font-size: 12px; text-align: center}
        h2 {
          font-size: 16px;
          span {
            font-size: 10px;
          }
        }
        img {
          width: 100%;
          height: auto;
          margin: 0 auto;
        }
      }
    }
    .ourteam-content {
      margin-bottom: 50px;
      .hold-ourteam-card {
        padding: 20px;
        .gray-rect {
          width: 100%;
          height: 200px;
        }
        p {font-size: 10px}
        span {font-size: 14px; text-align: center}
      }
    }
    .ouroffices-content {
      .hold-ouroffices-card {
        .row {
          p {padding-top: 8px}
          span { font-size: 14px}
          .gray-rect {
            width: 100%;
            height: 200px;
            margin-right: 0 !important;
          }
        }
      }
      .ouroffices-call-card {
        display: none;
      }
    }
  }


}

#ourorganization {
  .card-organization {
    box-shadow: 0 0 30px 0 rgb($green-primary, .28);
    border-radius: 10px;
    background-color: $white-normal;
    .card-body {

      padding: 22px 40px;
      h3 {
        font-size: 20px;
        line-height: 1.76;
        font-weight: bold;
        margin-bottom: 12px;
      }

      p {
        font-size: 16px;
        line-height: 1.76;
        font-weight: 300;
        color: $black-primary;
      }
    }
  }
  .organization-list {
    box-shadow: 0 4px 50px 0 rgba($green-primary, .28);
    border-radius: 15px;
    background-color: $green-cards !important;
    .list-group {
      .list-group-item {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        border: none;
        box-shadow: 0 0 20px rgba($green-primary, .28);
        border-radius: 15px;
        background-color: $white-normal;
        margin-bottom: 10px;
        p {
          margin-bottom: 0;
          font-size: 16px;
          line-height: 1.76;
          font-weight: 400;
          color: $dark-text;
        }
      }
    }
  }
  @media (max-width: $screen-1199) {
    .card-organization {
      .card-body {
        h3 {
          font-size: 16px;
        }
        p {
          font-size: 14px;
        }
        img {
          display: none;
        }
      }
    }
    .organization-list {
      .list-group {
        .list-group-item {
          p {
            font-size: 14px;
          }
        }
      }
    }
  }
}

#ournews {
  .ournews-container {
    .dash-head-text {
      padding-left: 0 !important;
    }
    padding-left: 44px;
    padding-right: 44px;
    .card-news {

      h3 {
        font-size: 16px;
        font-weight: 500;
        line-height: 1.76;
        color: $black-primary;

      }
      p {
        font-size: 16px;
        font-weight: 300;
        line-height: 1.76;
        color: $black-primary;
      }
      a {
        font-size: 14px;
        font-weight: 300;
        line-height: 1.76;
        color: $green-primary;
        vertical-align: middle;
        img {
          margin-left: 10px;
          margin-right: 10px;
        }
      }
      .gray-box {
        background-color: #CDCDCD;
        border-radius: 10px;
        width: 80%;
        height: 100%;
      }
    }
  }
  @media (max-width: $screen-1199) {
    .ournews-container {
      .dash-head-text {
        padding-left: 0 !important;
      }
      padding-left: 35px;
      padding-right: 35px;
      .card-news {
        h3, p { font-size: 14px;}
        a { font-size: 12px}
        .gray-box {
          width: 100%;
        }
      }
    }
  }
}

#ourcontacts {
  .ouroffices-content {
    padding-left: 44px;
    padding-right: 44px;
    .hold-ourcontacts-card {

      @extend .ourcontacts-card;
      background-color: $white-normal !important;
    }
    .ourcontacts-call-card {
      @extend .questions-call-card
    }
  }
  @media (max-width: $screen-1199) {
    .dash-head-text {
      padding-left: 35px !important;
    }
    .ouroffices-content {
      padding-left: 35px;
      padding-right: 35px;
      .hold-ourcontacts-card {
        padding: 1.25rem !important;
        .row {
          p {padding-top: 8px}
          span { font-size: 14px}
          .gray-rect {
            width: 100%;
            height: 200px;
            margin-right: 0 !important;
          }
        }
      }

      .ourcontacts-call-card {
        display: none;
      }
    }
  }
}

// Some common classes for different components

.questions-call-card {
  background-color: $green-cards !important;
  box-shadow: 0 4px 50px rgba($green-cards, 1);
  border: none;
  #input-group-tel-hold {
    width: calc(100% / 12 * 6);
    padding-right: 10px;
    div {
      width: 100%;
      .form-control {
        width: 100%;
        height: 60px;
        border: 1px solid rgba($green-primary, 0.6) ;
        border-radius: 10px;
        font-weight: 500;
        &:focus {
          outline-style: none;
          box-shadow: none;
        }
      }
    }
  }
  button {
    &.callme-btn {
      width: calc(100% / 12 * 5);
    }
  }
  h3 {
    font-weight: 600;
  }
  h4 {
    font-size: 16px;
    font-weight: 300;
    color: $dark-text;
    margin-bottom: 20px;
  }
}

.ourcontacts-card {
  margin-bottom: 20px;
  background-color: $white-primary;
  box-shadow: 0 0 30px rgba(4, 120, 132, .28);
  border-radius: 10px;
  padding: 28px;
  .gray-rect {
    background-color: #CDCDCD;
    box-shadow: 0 0 40px rgba(4, 120, 132, .15);
    border-radius: 10px;
    width: 80%;
    height: 275px;
  }
  p {
    padding-top: 18px;
    color: $black-primary;
    font-size: 14px;
    line-height: 1.76;
    font-weight: 300;
  }
  span {
    font-size: 16px;
    line-height: 1.76;
    font-weight: 500;
  }
}
