@import "../vars/colors";

.main-card {
  box-shadow: 0 4px 40px 0 rgba(4, 120, 132, .15);
  border-radius: 15px;
  h3 {
    color: $green-primary;
    font-size: 20px;
    font-weight: 500;
  }
  h4 {
    color: $dark-text;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5;
  }
}
