@import "../vars/colors";

.head-table {

  thead {
    tr {
      th {
        padding: 1rem .75rem;
        font-size: 14px;
        font-weight: 300;
        color: rgba($dark-text, .6);
        line-height: 1.15;
        border: none;
        //border-bottom: 1px solid rgba($green-primary, 0.5);
      }

    }
  }
  tbody {
    tr {
      background-color: transparent;
      &:nth-of-type(odd){
        background-color: $white-normal;
      }
      td {
        padding: 1.25rem .75rem;
        border-top: 1px solid rgba($green-primary, .5);
        font-size: 16px;
        font-weight: 300;
        color: rgba($dark-text, 1);
        line-height: 1.15;
      }
    }
  }
}