@import "colors";

.btn-main {
  //font: bold 16px/1 $main-font;

  // padding: 17px 25px;

  //border-radius: 50px;
  //box-shadow: 0px 8px 24px 0px rgba(0, 0, 0, 0.15);
  //color: white !important;
  .card-header {
    ul li .nav-link {
      color: $green-primary ;
      text-decoration: none;
      background-color: white ;
      font-size: 16px;
      font-weight: 500;
      border: 1px solid rgba(4, 120, 132, .5);
      border-radius: 10px;
      margin-right: 10px;
      &:hover {
        border: 1px solid rgba(4, 120, 132, 1);
        color: white ;
        background-color: rgba($green-primary, .75) ;
      }
      &:focus {
        outline-style: none;
      }
      &.active {
        border: 1px solid rgba(4, 120, 132, 1);
        color: white;
        background-color: $green-primary;
        box-shadow: 0 0 30px 0  rgba(4, 120, 132, .28);
      }

    }
  }

  &:hover {
    //background-color: darken($orange, 10%);
  }

}

.btn-gradient {
  text-decoration: none;
  border-radius: 10px;
  border: 0;
  background: linear-gradient(104.18deg, #19E5F8 7.27%, #047884 60.08%);
  box-shadow: 0 0 30px rgba($green-primary, .28);
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.2;
  color: #FFFFFF !important;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  background-size: 200% auto;
  outline: none;
  background-position: right center;
  background-size: 150% auto;
  &:hover {
    background-position: left center;
  }
}