/* colors */
$green-primary: #047884;

$green-secondary: #89CED3;

$green-cards: #B6D8DB;

$white-primary: #FAFAFA;
$white-normal: #FFFFFF;

$black-primary: #000000;

$dark-text: #0A1425;

$footer-primary: #323645;

$accent: $green-primary;